@import '../_import/helper.less';

#terms {
	display: block;
	background: #E0E0E0;
	> p {
		padding: 10px 30px 10px 30px;
	}
}

ol{margin:0;padding:0}.c4{line-height:1.5;widows:2;orphans:2;direction:ltr;padding-bottom:17pt}.c7{widows:2;orphans:2;direction:ltr;padding-bottom:17pt}.c0{widows:2;orphans:2;height:11pt;direction:ltr}.c3{color:#0c1a3b;font-weight:bold}.c12{max-width:468pt;padding:72pt 72pt 72pt 72pt}.c9{widows:2;orphans:2;direction:ltr}.c1{color:#0c1a3b;font-weight:bold}.c6{color:#0c1a3b;}.c2{color:#333333;}.c10{color:#333333;}.c11{color:#333333;}.c8{font-weight:bold}.c5{font-size:12pt}.title{widows:2;padding-top:0pt;line-height:1.15;orphans:2;text-align:left;color:#000000;font-size:21pt;font-family:"Trebuchet MS";padding-bottom:0pt;page-break-after:avoid}.subtitle{widows:2;padding-top:0pt;line-height:1.15;orphans:2;text-align:left;color:#666666;font-style:italic;font-size:13pt;font-family:"Trebuchet MS";padding-bottom:10pt;page-break-after:avoid}li{color:#000000;font-size:11pt;font-family:"Arial"}p{color:#000000;font-size:11pt;margin:0;font-family:"Arial"}h1{widows:2;padding-top:10pt;line-height:1.15;orphans:2;text-align:left;color:#000000;font-size:16pt;font-family:"Trebuchet MS";padding-bottom:0pt;page-break-after:avoid}h2{widows:2;padding-top:10pt;line-height:1.15;orphans:2;text-align:left;color:#000000;font-size:13pt;font-family:"Trebuchet MS";font-weight:bold;padding-bottom:0pt;page-break-after:avoid}h3{widows:2;padding-top:8pt;line-height:1.15;orphans:2;text-align:left;color:#666666;font-size:12pt;font-family:"Trebuchet MS";font-weight:bold;padding-bottom:0pt;page-break-after:avoid}h4{widows:2;padding-top:8pt;line-height:1.15;orphans:2;text-align:left;color:#666666;font-size:11pt;text-decoration:underline;font-family:"Trebuchet MS";padding-bottom:0pt;page-break-after:avoid}h5{widows:2;padding-top:8pt;line-height:1.15;orphans:2;text-align:left;color:#666666;font-size:11pt;font-family:"Trebuchet MS";padding-bottom:0pt;page-break-after:avoid}h6{widows:2;padding-top:8pt;line-height:1.15;orphans:2;text-align:left;color:#666666;font-style:italic;font-size:11pt;font-family:"Trebuchet MS";padding-bottom:0pt;page-break-after:avoid}