#checkout-container {
	margin: 2em auto 0;
	width: 80%;
	.shop_table{
		.order {
			.subscription-actions {
				.switch {
					display: none;
				}
			}
		}
		tr td dl.variation {
			.variation-Location {
				display: none;
			}
			.variation-Specialty {
				display: none;
			}
			.variation-location {
				display: none;
			}
			.variation-specialty {
				display: none;
			}
			dt {
				margin-top: 15px;
			}
		}
	}
}