@import '../_import/helper.less';

.portal-landing {
	.portal-color { color: @ll-green; }
	.gallery {
		top: 100px;
		position: relative;
		.desktop-wrapper {
			display: block;
			.laptop img { max-width: 60%; }
		}
		.mobile-wrapper {
			display: none;
			.phone img {
				min-width: 60%;
				width: 300px;
			}
		}
		.bx-wrapper {
			width: 714px;
			height: 447px;
			position: absolute;
			top: 7%;
			left: 0;
			right: 0;
			max-width: 45%!important;
			.bx-viewport {
				overflow: inherit!important;
				position: relative;
				height: 100%!important;
				width: 100%!important;
				ul.slide-gallery {
					display: block!important;
					margin: 0;
					&.desktop {
						li {
							display: none;
							width: 100%!important;
							img {
								height: 100%;
								width: 100%;
								.border-radius-all(2px);
							}
						}
					}
					&.mobile {
						li {
							display: none;
							width: 100%!important;
							img {
								height: 100%;
								width: 100%;
								.border-radius-all(2px);
							}
						}
					}
				}
			}
		}
	}
	.home-top-wrapper {
		background: white;
		padding-bottom: 100px;
	}
	#home-top{
		position: relative;
		background: url(../../_img/page-portal-landing/top-bg-new.jpg) no-repeat;
		background-size: cover;
		background-position: center;
		width: 100%;
		z-index: 0;
		text-align: center;
		color: @ll-dark-text;
		overflow: visible;
		.fullscreen-height {
			.calc-height-all(~'100vh - 60px');
		}
		#intro {
			opacity: 1;
			width: 100%;
			margin: 0 auto;
			color: @ll-light-text;
			padding-top: 80px;
			padding-bottom: 10px;
			.mobile-agent {
				display: none;
				border: 2px solid #E8E8E8;
				.box-sizing(border-box);
				margin: 0;
				position: relative;
				height: 100px;
				width: 100px;
				.border-radius-all(100%);
			}
			#title {
				.default-text();
				font-size: 2em;
				position: relative;
				display: block;
				line-height: 1em;
				margin: 0 auto;
				.dot {
					margin: 0 10px;
					position: relative;
					color: @ll-pink;
					top: -5px;
					font-size: 0.8em;
					font-weight: 300;
				}
			}
				#subtitle {
					.default-text();
					font-size: 1.4em;
					position: relative;
					display: block;
					line-height: 1em;
					margin: .25em auto 1.75em;
					.blue { color: @ll-blue; font-weight: 700; }
				}
				#subtext {
					.default-text();
					display: block;
					position: relative;
					width: 100%;
					text-align: center;
					font-size: 3em;
					letter-spacing: .5px;
					line-height: 1.4em;
					margin-top: 0;
					color: @ll-pink;
					.desktop { display: block; }
					.mobile { display: none; }
				}
				.video {
					display: table;
					margin: 40px auto;
					color: @ll-light-text;
					font-size: 3.8em;
					height: 70px;
					width: 70px;
					.border-radius-all(100%);
					border: 1px solid @ll-light-text;
					span {
						position: relative;
						top: 11px;
						left: 4px;
						display: block;
						height: 46px;
						overflow: hidden;
						&:before { top: 10px; position: relative; }
					}
				}
		}
		#agent {
				width: 100%;
				margin: 0 auto;
				text-align: left;
				background: rgba(250,250,250,0.85);
				position: relative;
				z-index: 99;
				border-bottom: 1px solid #fff;
				margin-top: -1px;
				.agent-photo-wrapper {
						display: inline-block;
						vertical-align: top;
						width: 130px;
						height: 80px;
						margin: 0 75px;
						float: left;
						img.agent-photo {
								border: 2px solid #fff;
								.box-sizing(border-box);
								display: inline-block;
								margin: 6px 10px 0;
								position: absolute;
								height: 130px;
								width: 130px;
								.border-radius-all(100%);
								bottom: -56px;
						}
				}
				#agent-intro {
						display: inline-block;
						.calc-width-all(~'100% - 1060px');
						margin: 0;
						vertical-align: top;
						padding: 0 200px;
						min-height: 80px;
						font-size: 1.15em;
						line-height: 1.5em;
						.default-text();
						color: @ll-lighter-text;
						#agent-text {
							padding: 12px 0;
							.desktop-agent-text { display: inline; }
							.mobile-agent-text { display: none; }
						}
						#agent-sig { display: inline-block; font-style: italic; margin-right: 10px; }
						#agent-readmore, #agent-readless { cursor: pointer; color: @ll-blue; display: inline-block; }
				}
				button {
					.ll-blue-button();
					text-transform: none;
					letter-spacing: .5px;
					vertical-align: top;
					padding: 10px 0;
					margin: 19px 93px 0;
					width: 174px;
					display: inline-block;
					float: right;
				}
		}
		.home-top-content {
				position: relative;
		}
	}
	#userdata {
		opacity: 1;
		margin-bottom: -50px;
		input {
			position: relative;
			display: inline-block;
			width: 250px;
			height: 51px;
			.border-radius-all(6px);
			border: 2px solid #fff;
			padding: 0 1.5em 0;
			margin: 0 1em 1em 0;
			top: -.25em;
			font-size: 1em;
			letter-spacing: 1px;
			color: #333;
			font-weight: 400;
			-webkit-appearance: none;
			&.invalid {
				border: 2px solid #F44566;
				-webkit-animation: shake .6s linear;
				@-webkit-keyframes shake {
					0% {
							left:-10px;
					}
					16% {
							left:9px;
							background-color: #FFEFF2;
					}
					33% {
							left:-6px;
					}
					50% {
							left:5px;
					}
					66% {
							left:-2px;
							background-color: #fff;
					}
					83% {
							left:1px;
					}
					100% {
							left: 0px;
					}
				}
			}
		}
		.start {
			.ll-blue-button();
			margin: 0;
			display: inline-block;
			vertical-align: top;
			font-size: 1.25em;
			padding: 14px 2.5em;
		}
		span {
			display: table;
			.default-text();
			color: @ll-light-text;
			.border-radius-all(1em);
			letter-spacing: .25px;
			margin: 4px auto 0;
			font-size: .85em;
			padding: 2px 3.5em 0;
			a {
				color: @ll-light-text;
				text-decoration: underline;
			}
			&.hidden {
				display: none;
			}
		}
	}
	
	/*.mid-slider-buttons {
		position: absolute;
		left: 0;
		right: 0;
		margin-top: 16px;
		text-align: center;
		width: 100%;
		z-index: 99;
		cursor: default;
		.button1, .button2, .button3 {
			display: inline-block;
			height: 11px;
			width: 11px;
			.border-radius-all(100%);
			margin: 0 14px;
			background: #999;
			cursor: pointer;
		}
		.button1.active, .button2.active, .button3.active { background: #3989e6; }
		.button1:hover, .button2:hover, .button3:hover { background: #3989e6; }
	}

	#home-mid-slider {
		overflow: hidden;
		width: 100%;
		.slider-wrapper {
			width: 300%;
			height: 710px;
			padding-bottom: 2em;
			-webkit-transform: translate3d(0, 0, 0);
			transform: translate3d(0, 0, 0);
			background: #fff;
			.transition(.75s);
			-webkit-transition-timing-function: cubic-bezier(0.5,0.1,0.5,1);
			transition-timing-function: cubic-bezier(0.5,0.1,0.5,1);
			&.slide2active {
			-webkit-transform: translate3d(-webkit-calc(~'-100% / 3'), 0, 0);
			transform: translate3d(calc(~'-100% / 3'), 0, 0);
			.transition(.75s);
			-webkit-transition-timing-function: cubic-bezier(0.5,0.1,0.5,1);
			transition-timing-function: cubic-bezier(0.5,0.1,0.5,1);
			}
			&.slide3active {
				-webkit-transform: translate3d(-webkit-calc(~'-200% / 3'), 0, 0);
			transform: translate3d(calc(~'-200% / 3'), 0, 0);
			.transition(.75s);
			-webkit-transition-timing-function: cubic-bezier(0.5,0.1,0.5,1);
			transition-timing-function: cubic-bezier(0.5,0.1,0.5,1);
			}
			.video {
				display: table;
				margin: 175px 0 50px 0;
				margin-left: -webkit-calc(~'18% - 35px');
				margin-left: -moz-calc(~'18% - 35px');
				margin-left: calc(~'18% - 35px');
				color: #777;
				font-size: 3.8em;
				height: 70px;
				width: 70px;
				.border-radius-all(100%);
				border: 1px solid #777;
				span {
					position: relative;
					top: 11px;
					left: 24px;
					display: block;
					height: 46px;
					overflow: hidden;
					&:before { top: 10px; position: relative; }
				}
			}
			.slide1, .slide2, .slide3 {
				.calc-width-all(~'100% / 3');
				height: 100%;
				color: #333;
				display: inline-block;
				float: left;
				.textbox, .mobiletextbox {
					position: relative;
					width: 25%;
					margin: 0 0 0 4em;
					line-height: 740px;
					height: 740px;
					.mobile-image { 
						display: none;
						img { width: 100%; }
					}
					.textbox-wrapper {
						line-height: 26px;
						vertical-align: middle;
						display: inline-block;
					}
					.title {
						display: block;
						color: #555;
						font-weight: 400;
						font-size: 1.7em;
						margin-bottom: 8px;
						line-height: 1.25em;
						text-align: center;
						cursor: default;
					}
					.subtitle {
						display: block;
						text-align: center;
						color: #555;
						font-size: 2.5em;
						font-weight: 400;
						margin-bottom: .75em;
						cursor: default;
					}
					p {
						color: #777;
						letter-spacing: .5px;
						font-weight: 400;
						line-height: 1.75em;
					}
					.main-text {
						text-align: justify;
						font-size: 1.1em;
						margin-bottom: 30px;
					}
					.video {
						display: table;
						margin: 0 auto;
						color: #e4486b;
						font-size: 3.5em;
						height: 65px;
						width: 65px;
						.border-radius-all(100%);
						border: 1px solid #e4486b;
						span {
							position: relative;
							top: 8.5px;
							left: 25px;
							display: block;
							height: 46px;
							overflow: hidden;
							&:before { top: 10px; position: relative; }
						}
					}
					.three-steps {
						position: relative;
						width: 340px;
						margin: 0 auto;
						cursor: default;
						.tri-numbers {
							position: relative;
							height: 38px;
							.number {
								font-size: .9em;
								color: #fff;
								border-radius: 100%;
								width: 28px;
								height: 28px;
								line-height: 28px;
								display: inline-block;
								text-align: center;
								float: left;
								&#one { margin: 0 0 10px 31px; background: #50e3c2; }
								&#two, &#three { margin: 0 0 10px; background: #dbdbdb; }
							}
							.line {
								float: left;
								display: inline-block;
								height: 1px;
								background: #dbdbdb;
								margin-top: 14px;
								width: 97px;
							}
						}
						.tri-images {
							position: relative;
							height: 90px;
							img {
								height: 90px;
								width: 90px;
								.border-radius-all(100%);
								display: inline-block;
								margin-right: 35px;
								float: left;
							}
							img.three { margin-right: 0; }
						}
						.tri-text {
							position: relative;
							left: -17.5px;
							height: 30px;
							width: 380px;
							p {
								margin: 5px 0 0;
								letter-spacing: 0;
								font-weight: 400;
								font-size: .9em;
								text-align: center;
								width: 125px;
								display: inline-block;
								float: left;
								color: #b0b0b0;
							}
						}
					}
				}
				.mobiletextbox {
					display: none;
					margin: 55px auto 0;
					width: 60%;
					line-height: 26px;
					height: auto;
					.three-steps { display: none; }
					.video span { top: 8px; left: 24px; }
				}
			}
			.slide1 .textbox {
				margin-top: 0;
				a {
					background: none;
					color: #e4486b;
					font-weight: 400;
					font-size: 1.6em;
					letter-spacing: .5px;
					width: 100%;
					padding: 0;
					margin: 0;
					&:hover { color: #F56081; background: none; }
				}
			}
			.slide2 .textbox a, .slide3 .textbox a { display: none; }
			.slide1 { background: url(../../_img/page-home/slide1.jpg) no-repeat; background-position: right bottom; }
			.slide2 { background: url(../../_img/page-home/slide2.jpg) no-repeat; background-position: right bottom; }
			.slide3 { background: url(../../_img/page-home/slide3.jpg) no-repeat; background-position: right bottom; }
		}
	}
	#mid-bottom {
		position: relative;
		width: 100%;
		height: 450px;
		z-index: 0;
		text-align: center;
    	color: #333;
    	background: url(../../_img/page-portal-landing/mid-bg.jpg) no-repeat;
    	background-size: cover;
			overflow: hidden;
    	#agent-mid {
				height: 300px;
    		margin-top: 100px;
    		@imgHeight: 250px; @imgWidth: 250px; // for the seller photo
			color: white;
			img {
				border: 2px solid #E8E8E8;
				.box-sizing(border-box);
				display: inline-block;
				margin: 0;
				position: relative;
				height: 200px;
				width: 200px;
				.border-radius-all(100%);
				vertical-align: top;
				margin-top: 1em;
			}
				#description {
					width: 65%;
			    margin-left: 4em;
			    text-align: left;
			    display: inline-block;
					line-height: 1.9em;
	      	 	#name {
	      	 		color: #999;
	      	 		font-size: 3em;
	      	 		display: inline;
	      	 		font-weight: 600;
							letter-spacing: 0;
							.after-name {
								color: #fff;
							}
	      	 	}
	      	 	#name-subtext {
	      	 		font-size: 3em;
	      	 		display:inline-block;
	      	 	}
	      	 	#subtitle {
							width: 75%;
	      	 		display:block;
	      	 		font-size: 1.2em;
							padding-top: 1em;
							font-weight: 400;
	      	 	}
	      	 	#agent-text {
							width: 75%;
	      	 		padding-top: 20px;
	      	 		#bigquote {
								font-size: 1.5em;
								color: #4affcb;
								&.start {
									-moz-transform: scale(-1, 1);
									-webkit-transform: scale(-1, 1);
									-o-transform: scale(-1, 1);
									-ms-transform: scale(-1, 1);
									transform: scale(-1, -1);
									position: relative;
									display: inline-block;
									top: -6px;
									margin-right: 5px;
								}
								&.end {
									position: relative;
									display: inline-block;
									top: -6px;
									margin-left: 4px;
								}
	      	 		}
	      	 		span {
								font-size: 1.4em;
								font-weight: 400;
								letter-spacing: .25px;
								cursor: text;
	      	 		}
	      	 		#agent-sig {
								float: right;
								font-style: italic;
								position: relative;
								font-size: 1.2em;
								top: 10px;
								margin-right: 80px;
	      	 		}
	      	 	}
	      	}
    	}
	}
	.mobile-agent-quote {
		display: none;
		background: #F5F5F5;
    color: #555;
    font-weight: 400;
    text-align: center;
    padding: 2em;
		#bigquote {
			font-size: 1.5em;
			color: #53D8B2;
			&.start {
				-moz-transform: scale(-1, 1);
				-webkit-transform: scale(-1, 1);
				-o-transform: scale(-1, 1);
				-ms-transform: scale(-1, 1);
				transform: scale(-1, -1);
				position: relative;
				display: inline-block;
				top: -6px;
				margin-right: 5px;
			}
			&.end {
				position: relative;
				display: inline-block;
				top: -6px;
				margin-left: 4px;
			}
		}
		span {
			font-size: 1.4em;
			font-weight: 400;
			letter-spacing: .25px;
			cursor: text;
		}
		#agent-sig {
			display: block;
			font-style: italic;
			position: relative;
			font-size: 1.2em;
			top: 5px;
			margin-right: 80px;
			text-align: right;
		}
	}
	#home-bottom {
		background: #fff;
		color: #555;
		overflow: hidden;
		padding-bottom: 1em;
		.mobile-title {
			display: none;
			color: #444;
			font-size: 2.5em;
			font-weight: 400;
			line-height: 1.4em;
			width: 55%;
			position: relative;
			margin: 1em auto 0;
			text-align: center;
			z-index: 10;
			.mobilestyling {
				font-style: italic;
				text-transform: capitalize;
			}
		}
		.home-bottom-bg {
			background: url(../../_img/page-home/iphone.jpg) #fff no-repeat; 
			background-position: right top;
			-webkit-transform: translate3d(0, -25px, 0);
			transform: translate3d(0, -25px, 0);
			opacity: 0;
			.transition(1.5s);
			height: 1300px;
			width: 650px;
			position: absolute;
			top: 0;
			right: 0;
			img { display: none; width: 100%; left: 50px; position: relative; }
			&.animate {
				opacity: 1;
				-webkit-transform: translate3d(0, 0, 0);
				transform: translate3d(0, 0, 0);
				.transition(1.5s);
			}
			&.active {
				opacity: 1;
				-webkit-transform: translate3d(0, 0, 0);
				transform: translate3d(0, 0, 0);
				.transition(1.5s);
			}
		}
		.content {
			padding: 120px 0 2em 5em;
			width: 40%;
			p { text-align: justify; }
			.top {
				.title {
					color: #444;
					font-size: 3em;
					font-weight: 400;
					line-height: 1.4em;
					width: 85%;
					display: block;
					position: relative;
					.mobilestyling {
						font-style: italic;
						text-transform: capitalize;
					}
				}
				p {
					font-weight: 400;
					font-size: 1.5em;
					line-height: 1.5em;
					letter-spacing: 1px;
					word-spacing: .5px;
					color: #777;
					position: relative;
				}
			}
			.cities, .listings, .agents {
				margin-top: 6em;
				.title {
					display: block;
					position: relative;
					height: 190px;
					.image {
						cursor: default;
						float: left;
						position: relative;
						img { width: 190px; .border-radius-all(100%); }
						span {
							position: absolute;
							text-align: center;
							left: 0;
							right: 0;
							font-size: 3em;
							margin-top: 82px;
						}
					}
					p {
						display: inline;
						color: #333;
						font-size: 2.7em;
						font-weight: 400;
						line-height: 1.4em;
						position: relative;
						top: 32px;
						left: 30px;
						position: relative;
					}
				}
				p {
					font-weight: 400;
					font-size: 1.5em;
					line-height: 1.5em;
					letter-spacing: 1px;
					word-spacing: .5px;
					color: #777;
					position: relative;
				}
			}
			.listings .title, .agents .title { width: 106%; }
			.listings p { width: 170%; }
			.agents p { width: 200%; }
		}
	}*/
	
	#three-steps {
		background: white;
    color: @ll-text;
    .default-text();
    text-align: center;
		.header {
			padding: 50px 0 50px;
			.title {
				color: @ll-text;
				font-size: 2em;
				letter-spacing: 0;
				line-height: 1.3em;
			}
			.line {
				margin: 1.5em auto;
				height: 2px;
				width: 150px;
				background: @ll-blue;
			}
			.subtitle {
				margin: 0 auto;
			}
		}
		.steps {
			.three-div-parent();
			.step1, .step2, .step3 {
				.three-div-child();
				img {
					.border-radius-all(100%);
					margin-bottom: 10px;
					width: 110px;
				}
				.step-title {
					color: @ll-light-text;
					font-size: 1.3em;
					padding-bottom: .5em;
					span { color: @ll-blue; }
				}
				p {
					width: 68%;
					margin: 0 auto 75px;
					color: @ll-lighter-text;
				}
			}
		}
	}
	.divider {
		background: white;
		.title {
			.default-text();
			color: @ll-lighter-text;
			text-align: center;
			font-size: 1.5em;
			letter-spacing: 1px;
		}
		img {
			display: block;
			margin: 0 auto;
			padding: 20px 0;
			max-width: 80%;
			max-height: 50px;
			&.desktop { display: block; }
			&.mobile { display: none; }
		}
	}
	#how-to-steps {
		.default-text();
		background: white;
    color: @ll-text;
		.step1, .step2, .step3 {
			.textbox {
				text-align: left;
				width: 30%;
				padding: 100px 0;
				.title {
					color: #555;
					font-size: 1.8em;
					line-height: 1.5em;
					letter-spacing: 1px;
				}
				.line {
					margin: 1.25em 0 1em;
					height: 2px;
					width: 165px;
					background: @ll-blue;
				}
				p {
					width: 75%;
					font-size: 19px;
					line-height: 1.5em;
					color: @ll-light-text;
					letter-spacing: .5px;
				}
			}
		}
		.step1 {
			height: 516px;
			background: url(../../_img/page-portal-landing/step1-background.jpg) #fff no-repeat;
			background-size: cover;
			position: relative;
			img {
				position: absolute;
				bottom: 0;
				left: 3%;
			}
			.textbox { margin: 0 5% 0 65%; padding: 143px 0; }
		}
		.step2 {
			height: 516px;
			background: url(../../_img/page-portal-landing/step2-background.jpg) #fff no-repeat;
			background-size: cover;
			background-position: right;
			position: relative;
			overflow: hidden;
			.background-color {
				position: absolute;
				width: 100%;
				height: 100%;
				background: rgba(35, 101, 183, .75);
				z-index: 1;
			}
			img {
				position: absolute;
				bottom: 0;
				right: 30%;
				top: 50px;
				z-index: 2;
				&.mobile { display: none; }
			}
			.textbox {
				margin: 0 0 0 8%;
				z-index: 3;
				padding: 143px 0;
				position: relative;
				.title { color: #fff; }
				.line { background: #fff; }
				p { color: #fff; }
			}
		}
		.step3 {
			height: 559px;
			background: url(../../_img/page-portal-landing/step3-background.jpg) #fff no-repeat;
			background-size: cover;
			position: relative;
			img {
				position: absolute;
				height: 365px;
				bottom: 32px;
				left: 28%;
				opacity: .8;
			}
			.textbox { margin: 0 15% 0 55%; padding: 237px 0 120px; }
		}
	}
	.calltoaction {
		background: url(../../_img/page-portal-landing/bottom-background.jpg) #fff no-repeat;
		background-size: cover;
		background-position: center;
		text-align: center;
		padding: 5.5em 0 5.5em;
		p {
			margin: 0;
			font-size: 1.7em;
			cursor: default;
			font-weight: 600;
			line-height: 1.3em;
			letter-spacing: 1.5px;
		}
		#userdata {
			padding: 50px 0 150px;
			a {
				background-color: @ll-pink;
				&:hover { background-color: @ll-pink-hover; }
			}
		}
	}
}