@import '../_import/helper.less';

.videoDiv {
	top: 35%;
	left: 14%;
	z-index: 100!important;
	.closeVid {
		display: none;
        top: 33px;
        left: 45.5%;
        background-color: #000;
   		.border-radius-all(4px);
    }
}

.listing-agent .mobilespace { display: none; }
.listing-agent .phone.mobile { display: none; }


.listing {
		position: relative;
		width: 100%;
		> a.exit-page{
				background: url(../../_img/page-listings/return.png) no-repeat;
				background-position: 0 0;
  			height: 40px;
    		width: 412px;
  			left: 0;
  			letter-spacing: 0.1em;
  			line-height: 40px;
  			margin: 0;
  			position: absolute;
  			top: 0;
  			z-index: 50;
				.transition(0s); 
				color: #a3c0d3;
				.mobile { display: none; }
				p{
					font-size: 1.3em;
					font-family: 'Perpetua';
					position: absolute;
					left: 7px;
					top: 0;
					margin: 0;
					width: 382px;
					height: 40px;
					text-align: center;
				}
		}
		> a.exit-page:hover{ background-position: -412px 0; color: #4FD7FF; }
		.gallery-full {
				height: 65px;
				width: 218px;
				position: absolute;
				right: 20px;
				top: 15px;
				background: rgba(21,21,21,0.85);
				color: white;
				border-radius: 7px;
				z-index: 50;
				.entypo-resize-full {
						position: absolute;
						font-size: 2em;
						font-weight: 100;
						top: 20px;
						left: 18px;
				}
				p {
						margin: 12px 0 -5px 60px;
						font-size: 1.6em;
						font-weight: 300;
						letter-spacing: .05em;
				}
				.subtitle {
						margin: 13px 0 0 62px;
						font-size: .8em;
				}
		}
		.gallery-full:hover {
				background: rgba(21,21,21,.9);
				color: #cde7f3;
		}
		> section{
				margin: 0 auto;
				@slideHeight: 595px;
				position: relative;
				width: 100%;
				.listing-menu{
						background: url(../../_img/page-listings/mid_images.png) no-repeat;
						bottom: 0;
						height: 76px;
						left: 0;
						margin: 0;
						position: absolute;
						width: 100%;
						z-index: 45;
						> img{
								height: 76px;
								position: relative;
								margin: 0;
								width: 100%;
						}
						li {
								display: inline-block;
								height: 100%;
								width: 25%;
								&:nth-child(1){ width: 360px; }
								&:nth-child(2){ width: 355px; }
								&:nth-child(3){ width: 360px; }
								a {
										border-top: 0;
										border-bottom: 0;
										display: block;
										height: 100%;
										width: 100%;
								}
						}
				}
				.listing-meta{
						background: url(../../_img/page-listings/header.jpg) no-repeat;
						height: 555px;
						margin-top: 40px;
						padding-top: 0;
						position: absolute;
						top: 0px;
						width: 382px;
						z-index: 40;
						font-weight: 400;
						.explore {
								margin: 0 auto;
								background: url(../../_img/page-listings/explore-sprite.png) no-repeat;
								background-position: 0 0;
								height: 161px;
								width: 260px;
								position: absolute;
								left: 0;
								right: 0;
								bottom: 2em;
								color: #4e9cc0;
								text-align: center;
						}
						.explore:hover{ background-position: -263px 0; }
						> table {
								font-size: .85em;
								margin: 3em 0 0 1.2em;
        				text-align: left;
        				width: 90%;
        				letter-spacing: 1px;
								th, td { line-height: 1.2em; vertical-align: top; }
								th{ color: #fff; font-size: 1.1em; font-weight: 400; padding-bottom: 1.1em; float: left; }
								td{ 
										padding-bottom: 0.25em; 
										padding-left: 0.2em; 
										font-size: 1.1em; 
										text-align: right;
										sup { position:relative; top: -4px; }
										&.title{
												font-family: @serif;
												font-size:1.8em;
												letter-spacing: .1em;
												font-weight: 100;
												padding-bottom: 0;
												text-align: center;
												text-transform: uppercase;
										}
										&.street_address{
												font-family:'Perpetua';
												font-size:1.7em;
												letter-spacing:.14em;
												line-height: 1em;
												margin: 0;
												padding: 0 0 1.4em;
												text-align: center;
										}
								}
						}
				}
				.mobile-listing-meta{
					display: none;
					background: url(../../_img/page-listings/mobile-info-bg.jpg) no-repeat;
					background-size: cover;
					height: auto;
					padding-top: 0;
					position: relative;
					top: 0px;
					width: 100%;
					z-index: 40;
					font-weight: 400;
					display: none;
					margin: 0 auto;
					.mobileinfo {
						.street_address {
							text-align: center;
							padding-top: 16px;
							font-family: 'perpetua';
							font-size: 1.6em;
							letter-spacing: 1px;
							word-spacing: 1px;
						}
						.city {
							text-align: center;
							font-style: italic;
							font-family: 'perpetua';
							font-size: 1.4em;
							letter-spacing: .5px;
							word-spacing: 1px;
							margin-top: -1px;
						}
						.price {
							text-align: center;
							color: #f6aa66;
							margin-top: 5px;
							font-size: 1.6em;
							font-family: 'perpetua';
							letter-spacing: 1px;
						}
						.bottominfo {
							margin: 20px 0 15px;
							overflow: hidden;
							text-align: center;
							#boxes {
								width: 25%;
								border-right: 1px solid #fff;
								display: inline-block;
								text-align: center;
								margin-right: -1px;
								height: 100%;
								vertical-align: top;
								.toptext {
									display: block;
									font-size: 1.35em;
									.smalltext { 
										font-size: .85em;
										.tinytext {
											font-size: .7em;
											position: absolute;
											margin-top: -4px;
											margin-left: 1px;
										}
									}
								}
							}
							#boxes.beds {
								margin-left: -1px;
								border-left: 1px solid #fff;
							}
						}
					}
					#shareDiv {
						text-align: center;
						a img {
							width: 45px;
							height: 45px;
							margin-top: 10px;
							vertical-align: sub;
							border-radius: 100%;
							margin: 10px;
						}
						#client-share {
							display: table;
							margin: 0 auto;
							color: #5CB6EC;
						}
						#client-share:hover { color: #77C8F9; }
					}
					.seemore {
						text-align: center;
						position: absolute;
						left: 0;
						right: 0;
						cursor: pointer;
						width: 150px;
						margin: 0 auto;
						text-transform: capitalize;
						margin-top: 67px;
						font-size: 1.1em;
						text-shadow: 0 0 50px #111;
						z-index: 10;
						span {
							display: block;
							font-size: .8em;
							margin-top: -5px;
						}
					}
					.seeless {
						position: relative;
						margin-top: 0px;
						text-align: center;
						left: 0;
						right: 0;
						cursor: pointer;
						width: 150px;
						margin: 0 auto;
						text-transform: capitalize;
						font-size: 1.1em;
						text-shadow: 0 0 50px #111;
						z-index: 10;
						span {
							display: block;
							font-size: .8em;
							margin-bottom: -5px;
						}
					}
					.abouttexthidden {
						height: 110px;
						margin: 10px auto 0;
						font-weight: 300;
						width: 96%;
						span {
							height: 75px;
							display: block;
							overflow: hidden;
							-webkit-mask-image: -webkit-gradient(linear, left 0%, left bottom, from(rgba(0,0,0,.9)), to(rgba(0,0,0,0)));
							cursor: default;
						}
					}
					.abouttext {
						height: auto;
						margin: 10px auto 0;
						font-weight: 300;
						width: 96%;
						padding-bottom: 12px;
						span {
							height: auto;
							display: block;
						}
					}
				}
				.listing-gallery{
						height: @slideHeight;
						margin: 0;
						position: relative;
						z-index: 40;
						width: 100%;
						> li {
							height: @slideHeight;
							position: relative;
							width: 100%!important;
							> img{ height: 100%; width: 100%; }
						}
				}
				.bx-wrapper{
						position: relative;
						margin: 0 0 0 auto;
						overflow: auto;
						padding: 0;
						margin-left: 382px;
						max-width: none!important;
						*zoom: 1;
						.bx-controls-direction{display:none;}
						.bx-controls{position:absolute;text-align:center;width:97%;z-index:9999;}
						.bx-pager{font-size:.85em;position:absolute;bottom:17px;right:-20px;width:25%;}
						.bx-controls-auto .bx-controls-auto-item,.bx-pager .bx-pager-item{display:inline-block;font-size:0;*zoom:1;*display:inline;}
						.bx-pager.bx-default-pager a{background:#fff;text-indent:-9999px;display:block;width:12px;height:12px;margin:0 5px;-moz-border-radius:12px;-webkit-border-radius:12px;border-radius:12px;}
						.bx-pager.bx-default-pager a.active,.bx-pager.bx-default-pager a:hover{background:#69c5ff;}
				}
		}
		.listing-info{
  			background: white;
  			color: black;
  			margin-bottom: 1.5em;
  			overflow: auto;
  			overflow-y: hidden;
			position: relative;
				.listing-about{
						float: left;
						padding: 0 0 1.5em 3.5%; 
						position: relative;
						width: 69%;

						#shareDiv {
							position: absolute;
							left: 520px;
							top: 8px;
							font-weight: 400;
							color: #333;
							a {
								display: inline;
								margin-left: 1px; 
								margin-right: 1px;
							}
							#video-view {
								display: block;
							}
							#client-share {
								color: #37B7E8;
								font-weight: 400;
								display: block;
							}
							#client-share:hover { color: #68D1F9; }
						}
						
						.video#listing {
								//position: absolute;
								//top: 5%;
								//right: 5%;
								cursor: pointer;
								color: #EB8328;  
								font-size: 1.4em;
								font-weight: 400;  
								letter-spacing: .05em;
								line-height: 1em;
						}
						.video#listing:hover { color: #FFAE67; }
						h3{ 
								cursor: default;
								color: #e68328; 
								font-family: @sans; 
								font-size: 5em; 
								font-weight: normal; 
								letter-spacing: 0.12em; 
								line-height: 1em;
								margin: 0;
								padding: .25em 0 0.1em;
								text-transform: uppercase; 
						}
						.favorite{
								cursor: default;
								color: #EB8328;  
								font-size: 1.4em;
								font-weight: 400;  
								left: 780px;
								letter-spacing: .05em;
								line-height: 1em;
								position: absolute;
								top: .9em;
								img {
									position: absolute;
									right: -35px;
									top: 0;
									.transition(.2s); 
									&.top:hover {
										opacity: 0;
									}
								}
						}
							.discover-this-listing{
								cursor: default;
								color: lighten(black, 25%);
								font-size: 2em;
								font-weight: 400;
								left: 370px;
								letter-spacing: 0.05em;
								line-height: 1em;
								position: absolute;
								text-transform: uppercase;
								top: .9em;
								.subtitle1 {
									font-size: .8em;
									margin-top: 8px;
									left: -3px;
									position: absolute;
									color: #666;
								}
								.subtitle2 {
									letter-spacing: .08em;
									top: 33px;
									position: absolute;
								}
						}
						.text{ 
								max-height: 335px;
								min-height: 100px;
								overflow-y: auto;
								font-size: 1em;
								line-height: 1.75em;
								color: #555;
								letter-spacing: .05em;
								font-weight: 400;
						}
				}
				.agent{
						float: right;
						position: relative;
						text-align: center;
						width: 27.5%;
						font-size: .85em;
						margin-top: 15px;
						h3{  
							color: lighten(black, 25%);
							letter-spacing: .05em;
							margin: .5em 0 1em;
							text-transform: capitalize;
							font-family: 'open sans';
							font-weight: 400;
							font-size: 1.5em;
						}
						img { .border-radius-all(50%); width: 165px; height: 165px; border: 3px solid #888; }
						.meta {
								font-family: @serif;
								margin-bottom: 1.5em;
								h4 {
										color: lighten(black, 25%);
										font-family:'open sans';
										font-size: 1.65em;
										width: 90%;
										font-variant: normal;
										font-weight: 500;
										letter-spacing: .05em;
										margin: .3em auto .25em auto;
								}
								> span { color: lighten(black, 25%); display: block; font-variant: small-caps; }
								.phone{ font-size: 1.55em; }
								.company{
									font-size: 1em;
									letter-spacing: .075em;
									margin: -6px 0 14px;
									font-family: 'open sans';
									font-variant: normal;
									display: block;
									font-weight: 400;
								}
								.contact-button {
									.button-blue-simple();
									padding:.3em 2.25em;
									background-color: #4CA0D3;
									font-size: 1em;
								}
								.contact-button:hover { background-color: #6FC2F4; }
						}
				}
				.premier-agent{
						display: none;
						float: right;
						position: relative;
						top: -20px;
						text-align: center;
						width: 20%;
						border: 1px solid black;
						.border-radius-all(1em);
						margin: 0 4% 0 0;
						h3{  
								color: #333;
								font-size: 2em;
								font-weight: 100;
								letter-spacing: .05em;
								margin: 0.5em 0 0;
						}
						p {
							margin: 0;
							font-weight: 400;
							font-family: 'Perpetua';
							font-size: 1.25em;
						}
						img { .border-radius-all(50%); height: 175px; }
						.meta {
								font-family: @serif;
								margin-bottom: 1em;
								h4 {
										color: #666;
										font-family:'Perpetua';
										font-size: 2.25em;
										font-weight: 500;
										letter-spacing: .02em;
										margin: 0.1em 0 0;
								}
								> span { color: #333; display: block; }
								.phone{ font-size: 1.6em; margin-bottom: .5em; }
								.company{ font-size: 1.1em; margin-bottom: .1em; }
								.contact-button {
												.button-blue-simple();
												font-size: 1em;
												padding: .4em 2.25em;
												background-color: #4ca0d3;
								}
								.contact-button:hover{ background-color: #6fc2f4; }
						}
				}
				#header {
					.premier-agent-label {
						position: relative;
						top: 0;
						font-size: 2.2em;
						font-weight: 300;
						letter-spacing: .05em;
						padding-top: 20px;
						display: block;
						color: #F29542;
						margin: .68em 0 0 0;
						.line1 {
							border-top: 1px solid #555;
							height: 0;
							width: 38%;
							display: inline-block;
							position:absolute;
							margin:13px 0 0 13px;
							top:20px;
							border-image:linear-gradient(to left, rgba(0,0,0,0.5) 25%, rgba(128,128,128,0.5) 75%, rgba(0,0,0,0)) 1 1;
							border-width:0 0 thin 0;
						}
						.line2 {
							border-top: 1px solid #555;
							height: 0;
							width: 38%;
							display:inline-block;
							position:absolute;
							margin:13px 13px 0 0;
							right:0;
							top:20px;
							border-image: linear-gradient(to right, rgba(0,0,0,0.5) 25%, rgba(128,128,128,0.5) 75%, rgba(0,0,0,0)) 1 1;
							border-width:0 0 thin 0;
						}
						.title {
							margin:0;
							display:block;
							text-transform:uppercase;
							font-family:'Perpetua';
							font-weight:300;
							color:#555;
							text-align:center;
							letter-spacing:.4em;
							font-size:.85em;
						}
					}
					.sortlanguage {
						position: absolute;
						font-family: 'Perpetua';
						font-size: 1.2em;
						color: #444;
						text-transform: capitalize;
						right: 0;
					}
					#agents-header {
						 color:#555;
						font-size:1.15em;
						letter-spacing:2px;
						display:block;
						font-weight:400;
						text-transform:uppercase;
						font-family:'Perpetua';
						text-align:center;
						margin-top:5px;
						margin-bottom: 1.5em;
					}
				}
				#mobileheader {
					display: none!important;
					.premier-agent-label {
						position: relative;
						top: 0;
						font-size: 2.2em;
						font-weight: 300;
						letter-spacing: .05em;
						padding-top: 20px;
						display: block;
						color: #F29542;
						margin: .68em 0 0 0;
						.line1 {
							border-top: 1px solid #555;
							height: 0;
							width: 38%;
							display: inline-block;
							position:absolute;
							margin:13px 0 0 13px;
							top:20px;
							border-image:linear-gradient(to left, rgba(0,0,0,0.5) 25%, rgba(128,128,128,0.5) 75%, rgba(0,0,0,0)) 1 1;
							border-width:0 0 thin 0;
						}
						.line2 {
							border-top: 1px solid #555;
							height: 0;
							width: 38%;
							display:inline-block;
							position:absolute;
							margin:13px 13px 0 0;
							right:0;
							top:20px;
							border-image: linear-gradient(to right, rgba(0,0,0,0.5) 25%, rgba(128,128,128,0.5) 75%, rgba(0,0,0,0)) 1 1;
							border-width:0 0 thin 0;
						}
						.title {
							margin:0;
							display:block;
							text-transform:uppercase;
							font-family:'Perpetua';
							font-weight:300;
							color:#555;
							text-align:center;
							letter-spacing:.4em;
							font-size:.85em;
						}
					}
					.sortlanguage {
						position: absolute;
						font-family: 'Perpetua';
						font-size: 1.2em;
						color: #444;
						text-transform: capitalize;
						right: 0;
					}
					#agents-header {
						 color:#555;
						font-size:1.15em;
						letter-spacing:2px;
						display:block;
						font-weight:400;
						text-transform:uppercase;
						font-family:'Perpetua';
						text-align:center;
						margin-top:5px;
						margin-bottom: 1.5em;
					}
				}
				.premier-agents {
					position: relative;
					top: 0;
					width: 69%;
					padding: 0 0 1.5em 3em;
					height: 100%;
					display: block;
					float: left;
					.agent-list {
								overflow: hidden;
								height: 120px;
								ul { 
									list-style-type: none; 
									display: inline!important;
									//width: 300px;
								 	li{
										display: inline!important;
										width: 100px;
										.agent-li {
											float: left;
											//position: relative;
											display: inline!important;
											text-align: center;
											width: 100px;
											h3{  
													color: lighten(black, 25%);
													font-size: 0.9em;
													font-weight: 100;
													letter-spacing: .02em;
													margin: 0.5em 0;
													text-transform: uppercase;
											}
											img { .border-radius-all(50%); height: 120px; width: 120px; display: block; margin-bottom: 10px; }
											button { .button-blue(); padding: .4em 1.5em; }
											.meta {
													margin: 0 0 0 1em;
													width: 197px!important;
													font-family: @serif;
													text-align: left;
													float: left;
													h4 {
															color: #555;
															font-family:'Perpetua';
															font-size: 1.7em;
															font-variant: small-caps;
															font-weight: 200;
															letter-spacing: .06em;
															margin: 0em 0 0em!important;
															width: 197px!important;
															display: inherit;
													}
													h4:hover {color:#5FADFD}
													> span { color: lighten(black, 25%); display: block; text-transform: uppercase; margin: -8px 0 0 0; font-size: 1em; }
													.phone{ font-size: 0.8em; width: 197px!important; }
													.location{ font-size: 1.2em; width: 197px!important; text-transform: capitalize; letter-spacing: 1px; margin-top: -2px;font-variant: small-caps; }
													.attr{ font-size: 1.05em; color: #2582e1; text-transform: capitalize; margin-top: .25em; line-height: 1em; margin-bottom: .25em; }
											}
										}
									}
								}
							}
					> tr {
						overflow-x: hidden;
						>td {
							.leftArrow {
								width: 40px;
								height: 40px;
								-ms-transform: rotate(180deg); /* IE 9 */
								-webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
								-o-transform: rotate(180deg);
								-moz-transform: rotate(180deg);
								transform: rotate(180deg);
								span {
									width: 40px;
									height: 40px;
									-ms-transform: rotate(180deg); 
									-webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
									-o-transform: rotate(180deg);
									-moz-transform: rotate(180deg);
									transform: rotate(180deg);
								}
							}
							.rightArrow {
								width: 40px;
								height: 40px;
								span {
									width: 40px;
									height: 40px;
								}
							}
							
						}
					}
				}
				.explore {
						background: url(../../_img/page-listings/explore.jpg) no-repeat;
						float: left;
						position: relative;
						width: 100%;
						height: 403px;
						.text {
								position: relative;
								margin-right: 5%;
								float: right;
								top: 13%;
								text-align: center;
								font-family: @serif;
								font-size: 1.5em;
								letter-spacing: .05em;
								line-height: .35em;
						}
						.title { z-index: 4; color: white; text-transform: uppercase; display: block; font-size: 1.5em; padding-top: 35px; padding-bottom: 5px; }
						p { z-index: 4; color: white; }
						img { z-index: 2; }
						.transition(.5s); 
						&:hover{ opacity:.8; }
				}
				.tags{
						background: url(../../_img/page-listings/bg-tags.jpg) no-repeat #D5D8DF;
						background-position: right;
						float: left;
						position:relative;
						width:100%;
						height:435px;
						.titleListings {
								color: rgb(22, 82, 22);
								font-family: 'Perpetua';
								font-size: 1.8em;
								text-transform: uppercase;
								letter-spacing: .18em;
								position: relative;
								margin-left: 107px;
								margin-top: 42px;
						}
						.titleCity {
								color: rgb(22, 82, 22);
								font-family: 'Perpetua';
								font-size: 1.8em;
								text-transform: uppercase;
								letter-spacing: .18em;
								position: relative;
								margin-left: 107px;
								margin-top: 25px;
						}
						ul {
								position: relative;
								list-style: none;
								margin: 0 0 0 107px;
								width: 70%;
								letter-spacing: 1px;
								max-height: 180px;
								overflow: hidden;
								> li{
										display: inline-block;
										font-size: 1em;
										font-weight: 400;
										text-transform: uppercase;
										width: 25%;
										line-height: 2.25em;
										> span{ color: #555; }
								}
						}
						.showTagsListings {
							margin-top: 10px;
						}
						.showTagsCity {
							margin-top: 10px;
						}
				}

		}

		.adminControl {
			//	display: inline;
			//.add-tags {
			//	float: left;
			//}

			height: 520px;

			button {
				.button-blue-simple();
				padding:.2em .5em;
				margin-top:.65em;
			}

			.transferControl {
				position: absolute;
				top: 90%;
		    	right: 2em;
		    	margin: 1em;
		    	span {
		    		margin: 5px;
		    	}
			}

			.bedBathControl {
				position: absolute;
				left: 79.5%;
				top: 83%;
		    	right: 2em;
		    	width: 25%;
		    	margin: 1em;
		    	span {
		    		margin: 5px;
		    	}
		    	input {
		    		width: 4em;
		    	}
			}
		
			.improvementBySeller {
				position: absolute;
				left: 80%;
				top: 18%;
		    	right: 2em;
		    	width: 25%;
		    	margin: 1em;
		    	height: 70%;
		    	label h1{
		    		margin-top: 2px;
		    		margin-bottom: 2px;
		    	}
			} 

			.imageEditControl {
				position: absolute;
				left: 80%;
				top: 0%;
				right: 2em;
				//margin: 1em;
				//padding-bottom: 5px;
				
				.buttonContainer {
					padding-bottom: 10px;
					border-bottom: thin solid rgba(255,255,255,1);
					display: inline-block;
					.blackout {
						margin-right: 10px;
					}
					.spin-wrap {
						height: 30px;
						width: 30px;
						padding-right: 10px;
						float: right;
						//right: -100px;
						//position: relative;
						margin: 0 auto;
						//top: 45%;
						//left: -8px;
						z-index: 10;
						//.spinner { .spinner(@light-blue2, 16px); }
					}
				}
				h1{
		    		margin-top: 2px;
		    		margin-bottom: 2px;
		    	}
			}
			.add-tags {
				//width: 90%;
			}
			#tag-window{
				display: inline;
				text-align: center;
				position: relative;
				overflow: auto;
				color: white;
				.tag-definition{
	        	float: left;
	        	margin: 0 0 0 3.4em;
					h5{ 
			          font-weight:400;
			          font-size:.95em;
			          font-family:@sans;
			          display: inline;
			          letter-spacing: 1px;
			          padding-right: 7px;
			        }
			        span{ font-weight: 100; }
				}
				.tag-categories{
			        margin-top:2.5em;
			        margin-left:-18em;
			        &:after{ .h2-after(); width: 60%; }
					> li {
	         			text-transform: uppercase;
						cursor: pointer;
				        font-weight:400;
				        font-size:15px;
				        letter-spacing:1px;
						display: inline-block;
						margin-right: 1em;
						.transition(0.25s);
						.entypo-record{ display: block; }
						&.selected{  color: #21c1e7; }
					}
				}
				.tag-next{
					//width: 120px;				
					position: absolute;
					left: 67%;
					top: 30%;
					z-index: 8;
					//display: inline-block;
					//figure {
					//	//diaplay: inline;
					//}
					button {
						//z-index: 8;
						//width: 60px;
						//height: 60px;
						//ont-size: 3em;
						//font-weight: 400;
						.button-blue();
						font-size: 1.2em; 
						background: transparent;
						padding: 3px;
						border: 2px;
						.text{
							padding-left: 0.5ex;
							padding-right: 0;
						}
					}
				}
				.tags-list{
			        margin-top: 3.5em;
			        line-height: 2.5em;
			        margin-left: 3.4em;
					position: relative;
					text-align: left;
					li.tag {
						cursor: pointer;
						display: inline-block;
						position: relative;
	          			text-transform: lowercase;
						width: 250px;
						.text{
							position: relative;
							.transition();
							span.checkmark { 
								color: #21c1e7;
								left: -1.5em;
								opacity: 0;
								position: absolute;
								.transition();
								img { height: 17px*0.75; width: 22px*0.75; }
							}
						}
						&.matched { 
							span.checkmark {opacity: 1;} 
						}
						&:hover{ color:#21c1e7; }
					}
				}				
				.main-info{
					background: url(../../_img/_sellers/tags.png) no-repeat top center;
					padding-top: 8em;
			    	position: absolute;
			    	right: 2em;
			    	width: 25%;
			    }	
			    .tag-confirm{
			    	position: absolute;
			    	left: 74%;
			    	top: 85%;
			    	//font-weight:400;
			    	button {
			    		background-color: rgba(0,0,0,0);
			    		color: white;
				        font-size: 0.8em;
				        font-family:@sans;
				    }
			    }
			}
		}
}

.gallery-window {
	.box-sizing();
	// overflow: hidden;
	position: relative;
	text-align: left;
	width: 100%;
	.gallery-close{
		cursor: pointer;
		font-size: 1.4em;
		position: absolute;
		top: .25em;
		right: .5em;
		color: darken(white, 70%);
		z-index: 25;
		&:hover{ color: white; }
	}
	section.top{
		.box-sizing();
		clear: both;
		overflow: auto;
		position: relative;
		width: 100%;
		> div { float: left; }
		.gallery-image {
			width: 1030px!important;
			height: 550px!important;
			background: fade(white, 2.5%);
			overflow: auto;
			position: relative;
			height: 100%;
			.image{
				width: 1030px!important;
				height: 550px!important;
				height: 100%;
				left: 0;
				overflow: hidden;
				position: absolute;
				top: 0;
				width: 100%;
				z-index: 10;
				img { width: 1030px!important; height: 550px!important; }
			}
			.controls {
				position: absolute;
				top: 45%;
				width: 100%;
				z-index: 20;
				> a {
					background: rgba(255,255,255,.8);
					font-size: 2em;
					opacity: 0;
					padding: .5em .75em;
					position: relative;
					&:hover{ opacity: 1; }
				}
				.prev{ float: left; }
				.next{ float: right; }
			}
			.spin-wrap {
				height: 128px;
				width: 128px;
				position: relative;
				margin: 0 auto;
				top: 45%;
				left: -8px;
				z-index: 10;
				//.spinner { .spinner(@light-blue2, 16px); }
			}
		}
		.gallery-meta {
			.box-sizing();
			height: 100%;
			padding: 1em 2em;
			position: relative;
			width: 350px;
			.image-title{
				font-weight: 100;
				font-size: 1.4em;
				margin-bottom: .5em;
				text-align: center;
				text-transform: uppercase;
				&:after{
					.h2-after(@light-blue2);
					margin-top: .5em;
				}
			}
			.image-counter{
				display: block;
				font-size: 0.75em;
				text-align: center;
				text-transform: uppercase;
				margin-bottom: 2.5em;
			}
			table {
				font-size: .8em;
				line-height: 1.75em;
				width: 100%;
				.address{ text-align: center; padding-bottom: 1.5em; }
				th {
					color: darken(white, 30%);
					font-weight: 100;
				}
				td {
					text-align: right;
				}
			}
		}
	}
	.gallery-divider{
		background: darken(white, 30%);
		position: absolute;
		height: 2px;
		margin-top: 1em;
		width: 100%;
	}
	.gallery-nav{
		position: absolute;
		bottom: 2.75em;
		right: 3.25em;
		a {
			color: darken(white, 30%);
			font-size: 1em;
			position: relative;
			text-transform: uppercase;
			&:hover{ color: white; }
			&:first-child{ padding-right: .5em; border-right: 1px solid darken(white, 30%); margin-right: .5em; }
			span { font-size: 2.5em; position: relative; top: .175em; }
		}
	}
	.gallery-thumbnails-wrap{
		margin: 1em 0 0;
		position: relative;
		width: 80%;
		> #gallery-thumbnails{
			height: 100px;
			line-height: 100px;
			overflow: hidden;
			width: 100%;
			> ul {
				height: 100%;
				list-style: none;
				margin: 0 0 0 -470px;
				padding: 0;
				> li.gallery-thumb {
					background: fade(white, 2.5%);
					border: 2px solid transparent;
					cursor: pointer;
					float: left;
					height: 90px!important;
					padding: 0;
					position: relative;
					margin: 0 2px 0 0;
					width: 135px!important;
					.image{
						height: 90px!important;
						left: 0;
						overflow: hidden;
						position: absolute;
						top: 0;
						width: 135px!important;
						img { height: 90px; width: 135px; }
					}
					.spin-wrap {
						height: 30px;
						width: 30px;
						position: relative;
						margin: 0 auto;
						top: 33%;
						left: -4px;
						z-index: 10;
						//.spinner { .spinner(darken(@light-blue2, 10%), 16px, 1.3); }
						.spinner { width: 30px; height: 30px; }
					}
					&.active{ border-color: @light-blue2; }
				}
			}
		}
		.scrollbar {
			margin: 0 0 1em 0;
			height: 2px;
			background: transparent;
			line-height: 0;
			.handle {
				width: 100px;
				height: 100%;
				background: darken(@light-blue2, 20%);
				cursor: pointer;
				.mousearea {
					position: absolute;
					top: -9px;
					left: 0;
					width: 100%;
					height: 20px;
				}
			}
		}
	}
}

.agent-squeeze{
		display: block!important;
		float: right;
		position: relative;
		width: 27.5%;
		display: inline;
		h3{  
			display: block!important;
			left: 0;
			float: left;
			width: 100%;
			color: lighten(black, 25%);
			font-size: 1.0em;
			font-weight: 100;
			letter-spacing: .04em;
			margin: .5em 0 0!important;
			text-transform: uppercase;
			display: inline;
		}
		img { width: 50px!important; height: 50px!important; border: 2px solid #888!important; display: block; position: relative; float: left; margin-top: 10px; margin-right: 20px;   margin-bottom: 30px; .border-radius-all(50%); }
		.meta {
			display: inline;
			position: relative;
			float: left;
			text-align: left;
			width: 100%;
			h4 {
				display: block;
				color: lighten(black, 25%);
				font-size: 1em!important;
				font-variant: small-caps;
				font-weight: 100;
				letter-spacing: .04em;
				margin: 10px 0 0 !important;
				line-height: 1em;
			}
			> span { color: lighten(black, 25%); font-variant: small-caps; }
			.phone{ font-size: 1.2em!important; display: inline!important; position: relative; top: -7px; }
			.company{ font-size: .8em!important; margin-top: 6px!important; display: block!important; position: relative; margin-bottom: 0!important; line-height: 1em; }
			.contact-button {
				border: 0!important;
				background: none!important;
				.border-radius-all(0);
				font-family: 'open sans'!important;
				text-transform: none!important;
				padding: 0!important;
				color: #4ca0d3!important;
				font-size: 1.1em!important;
				position: relative;
				font-weight: 400!important;
			}
			.contact-button:hover {color:#6fc2f4!important;background-color:none!important}
		}
}

