@import '../_import/helper.less';

#agent-reservation {
	background: url(../../_img/page-agent-reservation/background.jpg) no-repeat #fff;
	background-size: contain;
	height: 783px;
	width: 100%;
	
	label {
		color: black;
		display: block;
	}
	input[type=text] {
		display: inline;
	}
	#intro-message {
		position: relative;
		width: 75%;
	}
	#main-graphics {
		position: relative;
		width: 100%;
		margin-top: 60px;
		img{
			height: 185px;
			display: block;
			margin: 0 auto;
		}
		.steptext{
			width: 60%;
			text-align: left;
			margin: 0 auto;
			display: block;
			margin-top: 25px;
			color: #3B96EF;
			.number{
				text-align: center;
				font-size: 3.25em;
				font-weight: 400;
				color: #3B96EF;
				display: inline-block;
				height: 60px;
				margin-top: 10px;
				width: 10%;
			}
			.title{
				color: #3B96EF;
				font-style: italic;
				text-transform: uppercase;
				font-weight: 400;
				text-align: left;
				line-height: 1.4em;
				font-size: 1.1em;
				display: inline-block;
				width: 80%;
				margin-left: 5%;
			}
			.sub{
				color: #444;
				font-weight: 400;
				font-size: 1.05em;
				margin: 0;
				display: block;
				position: relative;
				top: -20px;
				margin-left: 4px;
			}
		}
		.step1{
			display: inline-block;
			width: 33%;
			margin: 0;
			padding: 0;
			vertical-align: top;
		}
		.step2{
			display: inline-block;
			width: 33%;
			margin: 0;
			padding: 0;
			vertical-align: top;
		}
		.step3{
			display: inline-block;
			width: 32%;
			margin: 0;
			padding: 0;
			vertical-align: top;
		}
	}
	#left {
		width: 75%;
		display: inline-block;
		#title1 {
			display: block;
			text-align: center;
			color: #333;
			font-size: 4em;
			font-weight: 400;
			font-style: italic;
			letter-spacing: 3px;
			font-variant: small-caps;
			margin-top: 35px;
			font-family: 'Perpetua';
		}
		#title2 {
			color: #555;
			font-weight: 400;
			text-align: center;
			display: block;
			font-style: italic;
			margin-top: 8px;
			font-size: 1.35em;
			letter-spacing: 0;
		}
		#title3 {
			color: #555;
			font-weight: 600;
			text-align: center;
			display: block;
			font-style: italic;
			margin-top: -4px;
			font-size: .92em;
			letter-spacing: 0;
		}
		.desktopinman{
			display: block;
			position: relative;
			text-transform: uppercase;
			margin: 0 auto;
			text-align: center;
			color: #333;
			font-size: .7em;
			font-weight: 400;
			margin-top: 30px;
			img{
				height: 60px;
			}
		}
	}
	.mobileinman{
			width: 32%;
			display: none;
			position: absolute;
			text-transform: uppercase;
			margin-right: 1.5%;
			text-align: center;
			color: #333;
			font-size: .7em;
			font-weight: 400;
			margin-top: 30px;
			top: 0;
			right: 0;
			img{
				height: 60px;
			}
		}
	.toptext{
		position: absolute;
		font-size: 1.3em;
		font-weight: 400;
		top: 75px;
		right: 0;
		text-transform: uppercase;
		font-family: 'Perpetua';
		font-style: italic;
		width: 23%;
		text-align: center;
		margin-right: 1.5%;
	}
	#information {
		background-color: white;
		width: 23%;
		margin: 0;
		padding: 0;
		position: relative;
		display: inline-block;
		top: 8%;
		border: 1px solid black;
		border-radius: 1em;
		float: right;
		margin-right: 1.5%;
		#message {
			width: 80%;
			color: #359cde;
			font-family: 'Perpetua';
			font-weight: 300;
			line-height: 100%;
			margin: 30px 5px 5px 8%;
			text-align: center;
			#line1 {
				font-size: 2.4em;
				font-family: 'Perpetua';
				font-weight: 400;
				font-style: italic;
				letter-spacing: 2px;
			}
			#line2 {
				color: #333;
				font-size: 1.4em;
				font-weight: 400;
				margin-top: 12px;
				display: block;
				font-family: 'Open Sans'
			}
			#line3 {
				color: #db9455;
				font-size: 1.6em;
				margin-bottom: 10px;
				margin-top: 16px;
				display: block;
				font-weight: 600;
				font-family: 'Open Sans';
			}
			#line4 {
				color: #333;
				font-family: 'Open Sans';
				font-size: .75em;
				font-weight: 400;
				margin-top: 0;
				margin-bottom: 15px;
				display: block;
			}
		}
		#user-data {
			width: 90%;
			margin-left: 20px;
			input {
				width: 80%;
				margin-left: 0px;
				border-radius: 3px;
				padding: 4px;
				border: 1px solid #777;
			} 
		}
		#lifestyles {
			select{
				color: #333;
				border: 1px solid #777;
				border-radius: 3px;
				display: block;
				margin: 7px auto;
				padding: 6px 60px 6px 8px;
				height: 31px;
				width: 200px;
			}
		}
		#city {
			margin-left: 20px;
			label {
				display: inline;
				margin-left: 10px;
			}
		}
		.reserve-now {
			margin: 10px 10px 0 10px;
			.reserveportal{
				display: block;
				color: #333;
				font-weight: 400;
				padding: 0 12%;
				margin-top: 10px;
				line-height: 1.4em;
				margin-bottom: 25px;
				a{
					color: #00A8FF;
				}
				a:hover{
					color: #25B5FF;
				}
				input{
					margin: 0 6px 0 0;
				}
			}
			#disclaimer { 
				color: #333;
				margin-top: 10px;
				display: block;
				padding: 0 8% 2em;
				line-height: 1.3em;
				font-size: .7em;
				font-weight: 400;
			}
			button {
				display: block;
				margin: 5px auto 0;
				.button-blue-narrow();
			}
			span {
				font-size: .8em;
			}
		}
	}
}
