@import '../_import/helper.less';

.home-wrap{
	#home-top{
		position: relative;
		width: 100%;
		z-index: 0;
		text-align: center;
		color: @ll-text;
		div#most-viewed {
			position: absolute;
			overflow-y: scroll;
			.calc-height-all(~'100vh - 80px');
			min-height: 700px;
			padding-top: 20px;
			width: 300px;
			left: 0;
			background: #333!important;
			z-index: 1000;
			ul {
				background: white;
				.tag-icons {
					img {
						width: 20px;
						height: 20px;
					}
				}
			}
		}
		.mainsearch {
			.calc-height-all(~'90vh - 60px');
			min-height: 600px;
			max-height: 750px;
			width: 100%;
			position: relative;
			background: #fff;
			.mainsearch-bg {
				position: absolute;
				background: url(../../_img/page-home/home-top.jpg) no-repeat;
				background-size: cover;
				height: 100%;
				width: 100%;
				top: 0;
				left: 0;
				opacity: .5;
				z-index: 0;
			}
			.opening {
				z-index: 10;
				opacity: 0;
				-webkit-transform: translate3d(0, -15px, 0);
				transform: translate3d(0, -15px, 0);
				-webkit-transition-timing-function: cubic-bezier(0.5,0.1,0.5,1);
				transition-timing-function: cubic-bezier(0.5,0.1,0.5,1);
				.intro-transition(1.5s);
				&.animate {
					opacity: 1;
					-webkit-transform: translate3d(0, 0, 0);
					transform: translate3d(0, 0, 0);
					-webkit-transition-timing-function: cubic-bezier(0.5,0.1,0.5,1);
					transition-timing-function: cubic-bezier(0.5,0.1,0.5,1);
					.intro-transition(1.5s);
				}
			}
			.title {
				cursor: default;
				font-size: 5em;
				color: @ll-blue;
				position: relative;
				padding-top: 75px;
			}
			.subtext {
				cursor: default;
				font-size: 2em;
				width: 45%;
				margin: 0 auto;
				position: relative;
				padding-top: 45px;
				font-weight: 300;
				letter-spacing: 1px;
				line-height: 1.4em;
			}
			.video {
				display: table;
				margin: 40px auto;
				color: @ll-lighter-text;
				font-size: 3.8em;
				height: 70px;
				width: 70px;
				.border-radius-all(100%);
				border: 1px solid @ll-lighter-text;
				span {
					position: relative;
					top: 11px;
					left: 4px;
					display: block;
					height: 46px;
					overflow: hidden;
					&:before { top: 10px; position: relative; }
				}
			}
			.start {
				.ll-light-blue-button();
				font-size: 2em;
				.border-radius-all(10px);
				top: 18px;
				padding: .3em 2em .35em;
			}
		}
		.belowsearch {
			height: 240px;
			width: 100%;
			background: @ll-pink;
			z-index: 10;
			.three-image {
				position: absolute;
				left: 0;
				right: 0;
				margin-top: -95px;
				.image1, .image2, .image3 {
					position: relative;
					display: inline-block; 
					width: 410px; 
					height: 190px; 
					.border-radius-all(15px);
					margin: 0 2px;
					.mobilegray {
						.border-radius-all(15px);
						height: 100%;
						width: 100%;
						display: block;
						position: absolute;
						background: rgba(0,0,0,.25);
						opacity: .4;
					}
					.icon {
						width: 30px;
						height: 30px;
						float: right;
						margin-right: 10px;
						margin-top: 10px;
					}
					.text, .smalltext {
						.default-text();
						opacity: 0;
						color: #fff;
						position: relative;
						display: block;
						top: 43%;
						font-size: 1.75em;
						text-shadow: 0 0 25px #000;
						//cursor: default;
						.intro-transition(1.5s);
						&.animate { opacity: 1; .intro-transition(1.5s); }
					}
				}
				.image1 { background: url(../../_img/page-home/topimage1.jpg) no-repeat; }
				.image2 { background: url(../../_img/page-home/topimage2.jpg) no-repeat; }
				.image3 { background: url(../../_img/page-home/topimage3.jpg) no-repeat; }
				.image2 .smalltext { display: none; letter-spacing: 0; font-size: 1.25em; }
			}
			.process {
				cursor: default;
				color: #fff;
				font-size: 2.5em;
				top: 155px;
				position: relative;
			}
		}
	}
	.mid-slider-buttons {
		position: absolute;
		left: 0;
		right: 0;
		margin-top: 25px;
		text-align: center;
		width: 100%;
		z-index: 99;
		cursor: default;
		.button1, .button2, .button3 {
			display: inline-block;
			height: 11px;
			width: 11px;
			.border-radius-all(100%);
			margin: 0 14px;
			background: #999;
			cursor: pointer;
		}
		.button1.active, .button2.active, .button3.active { background: @ll-blue; }
		.button1:hover, .button2:hover, .button3:hover { background: @ll-blue; }
	}
	#home-mid-slider {
		overflow: hidden;
		width: 100%;
		.slider-wrapper {
			width: 300%;
			height: 725px;
			-webkit-transform: translate3d(0, 0, 0);
			transform: translate3d(0, 0, 0);
			background: #fff;
			.transition(.75s);
			-webkit-transition-timing-function: cubic-bezier(0.5,0.1,0.5,1);
			transition-timing-function: cubic-bezier(0.5,0.1,0.5,1);
			&.slide2active {
			-webkit-transform: translate3d(calc(~'-100% / 3'), 0, 0);
			transform: translate3d(calc(~'-100% / 3'), 0, 0);
			.transition(.75s);
			-webkit-transition-timing-function: cubic-bezier(0.5,0.1,0.5,1);
			transition-timing-function: cubic-bezier(0.5,0.1,0.5,1);
			}
			&.slide3active {
				-webkit-transform: translate3d(calc(~'-200% / 3'), 0, 0);
			transform: translate3d(calc(~'-200% / 3'), 0, 0);
			.transition(.75s);
			-webkit-transition-timing-function: cubic-bezier(0.5,0.1,0.5,1);
			transition-timing-function: cubic-bezier(0.5,0.1,0.5,1);
			}
			.slide1, .slide2, .slide3 {
				.calc-width-all(~'100% / 3');
				height: 100%;
				color: @ll-text;
				display: inline-block;
				float: left;
				.mobiletextbox {
					display: none;
					position: relative;
					margin: 75px auto;
					width: 60%;
					text-align: center;
					.mobile-image { 
						display: none;
						img { width: 100%; }
					}
					.title {
						display: block;
						color: #444;
						font-weight: 400;
						font-size: 1.8em;
						margin-bottom: .7em;
						line-height: 1.25em;
					}
					p {
						color: @ll-lighter-text;
						letter-spacing: .5px;
						font-weight: 400;
						line-height: 1.9em;
					}
					a {
						.ll-light-blue-button();
						font-size: 1.2em;
						.border-radius-all(10px);
						padding: .5em 2em .55em;
						top: 710px;
						margin: 0 auto;
						display: table;
					}
				}
				.textbox {
					position: relative;
					width: 28%;
					margin-left: 4em;
					margin-top: 250px;
					.title {
						.default-text();
						display: block;
						color: #444;
						font-size: 1.8em;
						margin-bottom: .7em;
						line-height: 1.25em;
					}
					p {
						color: @ll-lighter-text;
						letter-spacing: .5px;
						font-weight: 400;
						line-height: 1.9em;
					}
					a {
						.ll-light-blue-button-round();
						font-size: 1.2em;
						padding: .5em 2em .55em;
						top: 20px;
					}
				}
			}
			.slide1 .textbox {
				-webkit-transform: translate3d(0, -25px, 0);
				transform: translate3d(0, -25px, 0);
				opacity: 0;
				.transition(1.4);
				&.animate {
					opacity: 1;
					-webkit-transform: translate3d(0, 0, 0);
					transform: translate3d(0, 0, 0);
					.transition(1.4s);
				}
			}
			.slide1 { background: url(../../_img/page-home/slide1.jpg) no-repeat; background-position: right bottom; }
			.slide2 { background: url(../../_img/page-home/slide2.jpg) no-repeat; background-position: right bottom; }
			.slide3 { background: url(../../_img/page-home/slide3.jpg) no-repeat; background-position: right bottom; }
		}
	}
	.slider-bottom {
		height: 125px;
    width: 100%;
    background: #fff;
    text-align: center;
    position: relative;
		p {
			margin: 0;
			position: absolute;
			bottom: 20px;
			left: 0;
			right: 0;
			font-weight: 400;
			color: #999;
			letter-spacing: 1px;
			word-spacing: .5px;
		}
	}
	#lifestyled-agents {
		background: #fff;
		color: @ll-text;
		img.agency-large { 
			display: none;
			width: 100%;
			padding: 1em 0;
			background: #EDEDED;
		}
		img.agency-small {
			display: none;
			width: 100%;
			padding: 1em 0;
			background: #EDEDED;
		}
		.top {
			height: auto;
			width: 100%;
			position: relative;
			img { width: 100%; }
			.info-box {
				.default-text();
				position: absolute;
				padding: 2em;
				background: rgba(255,255,255,.8);
				right: 5%;
				bottom: 7px;
				border-radius: 25px 25px 0 0;
				text-align: center;
				.title {
					color: @ll-pink;
					margin: 0;
					display: block;
					font-size: 1.5em;
					letter-spacing: 1px;
					font-weight: 600;
					width: 100%;
					line-height: 1.25em;
					span { color: @ll-light-text; }
				}
				p {
					font-size: 1.1em;
					letter-spacing: .75px;
					word-spacing: .5px;
					width: 325px;
					margin: 1.5em auto 0;
				}
			}
		}
		.bottom {
			overflow: hidden;
			width: 100%;
			border-bottom: 1px solid #999;
			.buttons {
				position: relative;
				left: 0;
				right: 0;
				margin-top: 25px;
				text-align: center;
				width: 100%;
				z-index: 99;
				cursor: default;
				.button1, .button2, .button3, .button4 {
					display: inline-block;
					height: 11px;
					width: 11px;
					.border-radius-all(100%);
					margin: 0 8px;
					background: #999;
					cursor: pointer;
				}
				.button1.active, .button2.active, .button3.active, .button4.active { background: @ll-blue; }
				.button1:hover, .button2:hover, .button3:hover, .button4:hover { background: @ll-blue; }
			}
			.agent-slider {
				width: 100%;
				background: #fff;
				height: 400px;
				.slide1, .slide2, .slide3, .slide4 {
					position: absolute;
					z-index: 5;
					opacity: 0;
					.transition(1s);
					&.active { 
						z-index: 10; 
						opacity: 1; 
						.transition(1s);
						.agent-box .signup { pointer-events: all; }
					}
					.mobile-agent-title { 
						display: none;
						.title {
							color: @ll-pink;
							margin: 0;
							display: block;
							font-size: 1.5em;
							letter-spacing: 1px;
							font-weight: 600;
							width: 100%;
							line-height: 1.25em;
							text-align: center;
							padding-bottom: .75em;
						}
					}
					.image { 
						display: inline-block; 
						float: left;
						margin-bottom: 20px;
						img { 
							.border-radius-all(0 25px 25px 0);
							max-width: 496px;
						}
					}
					.agent-box {
						display: inline-block;
						width: 40%;
						height: auto;
						padding: 2.5em 5em;
						.title {
							color: #e4486b;
							margin: 0;
							display: block;
							font-size: 1.7em;
							letter-spacing: 1px;
							font-weight: 600;
							position: relative;
							left: -2px;
						}
						p {
							font-weight: 400;
							color: #777;
							line-height: 2em;
						}
						.signup {
							font-size: 1.5em;
							color: @ll-light-blue;
							font-weight: 400;
							letter-spacing: 1.5px;
							pointer-events: none;
						}
					}
				}
				
			}
		}
	}
	#home-bottom {
		background: #fff;
		color: @ll-text;
		overflow: hidden;
		padding-bottom: 1em;
		.mobile-title {
			display: none;
			color: #444;
			font-size: 2.5em;
			font-weight: 400;
			line-height: 1.4em;
			width: 55%;
			position: relative;
			margin: 1em auto 0;
			text-align: center;
			z-index: 10;
			.mobilestyling {
				font-style: italic;
				text-transform: capitalize;
			}
		}
		.home-bottom-bg {
			background: url(../../_img/page-home/iphone.jpg) #fff no-repeat; 
			background-position: right top;
			-webkit-transform: translate3d(0, -25px, 0);
			transform: translate3d(0, -25px, 0);
			opacity: 0;
			.transition(1.5s);
			height: 1300px;
			width: 650px;
			position: absolute;
			top: 0;
			right: 0;
			img { display: none; width: 100%; left: 50px; position: relative; }
			&.animate {
				opacity: 1;
				-webkit-transform: translate3d(0, 0, 0);
				transform: translate3d(0, 0, 0);
				.transition(1.5s);
			}
			&.active {
				opacity: 1;
				-webkit-transform: translate3d(0, 0, 0);
				transform: translate3d(0, 0, 0);
				.transition(1.5s);
			}
		}
		.content {
			padding: 120px 0 2em 5em;
			width: 40%;
			font-size: .85em;
			p { text-align: justify; }
			.top {
				.title {
					.default-text();
					color: #444;
					font-size: 3em;
					line-height: 1.4em;
					width: 85%;
					display: block;
					position: relative;
					.mobilestyling {
						font-style: italic;
						text-transform: capitalize;
					}
				}
				p {
					font-weight: 400;
					font-size: 1.5em;
					line-height: 1.5em;
					letter-spacing: 1px;
					word-spacing: .5px;
					color: #777;
					position: relative;
				}
			}
			.cities, .listings, .agents {
				margin-top: 6em;
				.title {
					display: block;
					position: relative;
					height: 190px;
					.image {
						cursor: default;
						float: left;
						position: relative;
						img { width: 190px; .border-radius-all(100%); }
						span {
							position: absolute;
							text-align: center;
							left: 0;
							right: 0;
							font-size: 3em;
							margin-top: 82px;
						}
					}
					p {
						.default-text();
						display: inline;
						color: #333;
						font-size: 2.7em;
						line-height: 1.4em;
						position: relative;
						top: 32px;
						left: 30px;
						position: relative;
					}
				}
				p {
					font-weight: 400;
					font-size: 1.5em;
					line-height: 1.5em;
					letter-spacing: 1px;
					word-spacing: .5px;
					color: #777;
					position: relative;
				}
			}
			.listings .title, .agents .title { width: 106%; }
			.listings p { width: 170%; }
			.agents p { width: 200%; }
		}
	}
	.calltoaction {
		background: #444;
    text-align: center;
    padding: 5em 0 9em;
		p {
			margin: 0;
    	font-size: 3em;
			cursor: default;
		}
		.start {
			.ll-light-blue-button-round();
			font-size: 1.4em;
			top: 60px;
			padding: .6em 2.5em .65em;
		}
	}
}