@import '../_import/helper.less';

#allure-home-finder{
    overflow: hidden;
    text-align: center;
    height: 3641px;
    width: 100%;
    font-weight: 400;
    section{
        position: relative;
        .calltoaction{
            position: fixed;
            z-index: 9999;
            background: url(../../_img/page-allure-home-finder/start-quiz.png) no-repeat;
            height: 88px;
            width: 100%;
            .startbutton{
                position: fixed;
                float: right;
                margin: .85em 0 0 8.5em;
                background-color: #399cbf;
                -moz-border-radius: 6px;
                -webkit-border-radius: 6px;
                border-radius: 6px;
                display: inline-block;
                color: #fff;
                text-shadow: 1px 1px 1px #555;
                font-family: 'Open Sans';
                font-size: 1.7em;
                padding: 8px 55px;
                letter-spacing: .1em;
                text-decoration: none;
            }
            .startbutton:hover {background-color: #3188a6;}
        }
        .top{
            background: url(../../_img/page-allure-home-finder/top-page-bg.jpg) no-repeat;
            position: relative;
            height: 716px;
            width: 100%;
            font-size: 2em;
            font-family: @serif;
            line-height: 1.3em;
            text-align: center;
            .text{
                padding-top: 8em;
                float: right;
                right: 0;
                width: 755px;
                p{margin: 0 auto; width: 100%;}
                .sub{
                    color:#000;
                    padding-top: .75em;
                    line-height: 1.25em;
                    font-size: .95em;
                }
                .matchtitle{
                    color: #000;
                    font-size: 1.3em;
                    font-weight: 500;
                    letter-spacing: 1px;
                }
                .startbutton{
                    position: absolute;
                    margin: 1.5em 0 0 -3.95em;
                    background-color: #399cbf;
                    -moz-border-radius: 6px;
                    -webkit-border-radius: 6px;
                    border-radius: 6px;
                    display: inline-block;
                    color: #fff;
                    text-shadow: 1px 1px 1px #555;
                    font-family: 'Open Sans';
                    font-size: .8em;
                    padding: 2px 60px;
                    letter-spacing: .1em;
                    text-decoration: none;
                }
                .startbutton:hover {background-color: #3188a6;}
            }
            .take-time{
                background: rgba(0,0,0,.5);
                height: 98px;
                width: 100%;
                position: absolute;
                bottom: 0;
                cursor: pointer;
                .transition(0.25s);
            }
            .take-time:hover{background: rgba(65,65,65,.6);}
        }
        .middle{
            background: url(../../_img/page-allure-home-finder/middle-bg.jpg) no-repeat;
            position: relative;
            height: 777px;
            width: 100%;
            .text{
                text-align: left;
                padding-top: 114px;
                padding-left: 765px;
                width: 655px;
                color: #000;
                float: left;
                p{
                    font-size: 1.5em;
                    font-family: 'Open Sans';
                    font-variant: small-caps;
                    margin: .5em 0 1.65em 0;
                }
                .title{
                    color: #0076a3;
                    font-size: 2.6em;
                    text-transform: uppercase;
                    display: block;
                }
            }
        }
        .bottom-top{
            background: url(../../_img/page-allure-home-finder/bottom-top-bg.jpg) no-repeat;
            position: relative;
            height: 794px;
            width: 100%;
            .text{
                float: right;
                text-align: left;
                width: 450px;
                padding-top: 10em;
                padding-right: 2em;
                p{
                    color: #000;
                    font-size: 1em;
                    line-height: 3em;
                    font-family: 'Open Sans';
                }
                .title{
                    text-align: center;
                    color: #131c58;
                    font-size: 2.5em;
                    font-family: @serif;
                    text-transform: uppercase;
                    display: block;
                    padding-top: 2em;
                    line-height: 1.2em;
                }
            }
        }
        .bottom-mid{
            background: url(../../_img/page-allure-home-finder/bottom-mid-bg.jpg) no-repeat;
            position: relative;
            height: 701px;
            width: 100%;
            .text{
                float: left;
                text-align: left;
                width: 450px;
                padding-top: 4em;
                padding-left: 3em;
                p{
                    color: #000;
                    font-size: 1em;
                    line-height: 3em;
                    font-family: 'Open Sans';
                }
                .title{
                    text-align: center;
                    color: #7d1b1e;
                    font-size: 2.5em;
                    font-family: @serif;
                    text-transform: uppercase;
                    display: block;
                    padding-top: .8em;
                    line-height: 1.2em;
                }
            }
        }
        .bottom-last{
            background: url(../../_img/page-allure-home-finder/bottom-last-bg.jpg) no-repeat;
            position: relative;
            height: 713px;
            width: 100%;
            .text{
                float: left;
                text-align: left;
                width: 585px;
                padding-left: 820px;
                p{
                    color: #000;
                    font-size: 1em;
                    line-height: 3em;
                    font-family: 'Open Sans';
                }
                .title{
                    text-align: center;
                    color: #131c58;
                    font-size: 2.5em;
                    font-family: @serif;
                    text-transform: uppercase;
                    display: block;
                    padding-top: .8em;
                    line-height: 1.2em;
                }
            }
        }
    }
}