@import '../_import/helper.less';
@light-blue: #5b8dcc;
@dark-blue: #124b9a;
@light-gray: lighten(black, 60%);
@dark-gray: lighten(black, 30%);
@green: #20b918;
@red: #a90000;

#agent-profile {
  overflow:auto;
  position:relative;
  width:100%;
  background: #262626;
  height:100%;
  @sideBarWidth: 251px;
	.sub-nav {
		position: relative;
		width: 100%;
		color: #d7d7d7;
		font-size: .8em;
		background: #363636;
		height: 32px;
		.left {
			display: inline-block;
			margin-left: 12px;
			margin-top: 3px;
			letter-spacing: .05em;
			a{ color: #d7d7d7; }
			a:hover{ color: #fff; }
			span {
				margin: 0 10px;
				font-size: .7em;
			}
		}
		.right {
			display: inline-block;
			float: right;
			margin-right: 12px;
			margin-top: 3px;
			letter-spacing: .05em;
			a{
				margin-left: 30px;
				color: #d7d7d7;
			}
			a:hover{ color: #fff; }
		}
	}
  .container { height: 100%; overflow: auto; }
  section.content {
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
    .page-profile {
      background: url(../../_img/page-agent/agent-bg.jpg) no-repeat;
      background-color: #fff;
			background-size: 100%;
      color: @ll-dark-text;
			padding-bottom: 3em;
			.top {
				height: 425px;
				width: 100%;
				position: relative;
			}
      .seller-photo {
        .box-sizing(border-box);
        float: left;
        margin: 0;
        position: relative;
        width: 40%;
				top: 0;
      }
      .seller-photo {
        > img { height: 320px; width: 320px; border-radius: 50%; margin: 75px 0 0 170px; }
      }
      .right-col {
        padding: 0;
        float: right;
        width: 60%;
        text-align: left;
				position: relative;
				margin-top: 120px;
				.default-text();
				color: @ll-text;
				.name {
					font-size: 3em;
					letter-spacing: .05em;
					margin-left: -4px;
					line-height: .9em;
				}
				.company {
					font-size: 1.3em;
					font-weight: 400;
					margin-top: 12px;
					text-transform: capitalize;
				}
				.line {
					border: 1px solid #333;
					-webkit-border-image: linear-gradient(to left,rgba(0,0,0,0),rgba(128,128,128,0.9) 50%,rgba(128,128,128,0.9) ) 1 0 0;
					border-image: linear-gradient(to left,rgba(0,0,0,0),rgba(128,128,128,0.9) 50%,rgba(128,128,128,0.9) ) 1 0 0;
					width: 60%;
					margin: 1.75em 0 1.5em;
				}
				.website {
					color: #2470B0;
					letter-spacing: .05em;
					margin-bottom: 1em;
				}
				.phone {
					letter-spacing: .05em;
				}
				a {
					color: @ll-blue;
					&:hover { color: @ll-blue-hover; }
				}
				.contacts td a { 
					font-size: 2.5em;
					color: @ll-blue;
					display: inline-block;
					width: 80px;
					text-align: center;
					&:hover { color: @ll-blue-hover; }
				}
				p {
					margin-top: -.5em;
					color: #494949;
					font-size: 12px;
					text-align: center;
				}
			}
      .agent-content {
        display: block;
				position: relative;
				width: 80%;
				padding: 2em 3em;
				margin: 0 auto;
				background: white;
				border-radius: 10px;
				border: 1px solid #999;
				.agent-nav {
					height: 40px;
					.active {
						border-bottom: 1px solid #3DB5E0;
						color: #3DB5E0;
					}
					a {
						font-size: 1.4em;
						margin-right: 1.5em;
						color: #999;
						font-weight: 400;
						letter-spacing: .05em;
					}
					a:hover {
						color: #3DB5E0;
					}
				}
				.mid {
					position: relative;
					min-height: 430px;
					margin-top: 2%;
					.left {
						position: relative;
						width: 70%;
						margin-right: 2%;
						float: left;
						height: 430px;
						font-weight: 400;
						line-height: 2.5em;
						letter-spacing: .025em;
						overflow: auto;
						#about {
							width: 98%;
							display: block;
						}
						p { margin: 0 0 0 1.75em; }
					}
					.right {
						display: inline-block;
						width: 28%;
						min-height: 430px;
						background: #E4E4E4;
						border-radius: 5px;
						cursor: default;
						.qualifications {
							padding: 1.5em 3em 0;
							.sub-title {
								color: @ll-text;
								text-transform: uppercase;
								font-weight: 400;
								font-size: 1.5em;
								letter-spacing: .1em;
								display: block;
								margin-bottom: .25em;
							}
							ul {
								 margin: .5em 0;
								li {
									font-weight: 400;
									color: #444;
									font-size: .95em;
								}
							}
						}
						.service-areas {
							padding: 1em 3em 0;
							.title {
								color: @ll-text;
								text-transform: uppercase;
								font-weight: 400;
								font-size: 1.5em;
								letter-spacing: .1em;
								display: block;
								margin-bottom: .25em;
							}
							.content {
								font-size: .95em;
								font-weight: 400;
								color: @ll-text;
							}
						}
						.specialties, .languages {
							padding: 1.5em 3em;
							.title{
								color: @ll-text;
								text-transform: uppercase;
								font-weight: 400;
								font-size: 1.5em;
								letter-spacing: .1em;
								display: block;
								margin-bottom: .25em;
							}
							ul {
								margin: .5em 0;
								color: @ll-text;
								font-weight: 400;
								letter-spacing: .075em;
							}
						}
						.languages {
							padding: 1.5em 3em 0;
						}
					}
				}
				.line-bottom {
					margin: 2.5em 0;
					border-image: linear-gradient(to right,rgba(0,0,0,0),rgba(128,128,128,0.9) 50%,rgba(128,128,128,0.9) 50%,rgba(0,0,0,0)) 0 0 1;
					border-width: 0 0 thin 0;
				}
        .associations {
        	text-align: center;
	        h1 {
						color: #444;
						font-family: 'open sans';
						.default-text();
	          }
        	table {
		          horizontal-align: center;
		          width: 100%;
		         td {
		            display: inline-block;
		            margin-right: 2.5em;
		            text-align: center;
		            vertical-align: top;
		            &:last-child{ margin-right: 0; }
		            input { vertical-align: top; }
		          }
		        }
		}
        .accomplishments ul {
          margin: 0;
          li { display: inline-block; width: 100%; }
          input {
            margin: 0;
            width: 49%;
            &:first-child{ margin-right: 2%; }
            &.source { color: @dark-red; }
          }
        }
        .social {
          label a {
            font-size: 0.6em;
            line-height: 4em;
            position: absolute;
            left: 0;
          }
          ul {
            margin: 0;
            li {
              position: relative;
              input { margin:0 2% 0 0; width: 78%; }
              select { width: 20%; }
              .entypo-cancel {
                color: @dark-red;
                font-size: 1.2em;
                line-height: 1.1em;
                position: absolute;
                top: 19%;
                left: 74%;
                z-index: 10;
                .transition(.25s);
                &:hover { color: lighten(saturate(@dark-red, 100%), 20%); }
              }
            }
          }
        }
				#agentMatch {
					.am-header {
						.title1 {
							.default-text();
							color: #E87C48;
							font-size: 1.6em;
							letter-spacing: .05em;
							margin: 1em 0 -.15em;
							font-family: 'open sans';
						}
						.title2 {
							.default-text();
							color: #444;
							font-family: 'Open Sans';
							font-size: .85em;
							letter-spacing: .05em;
						}
					}
					.agent-match-nav a{
						font-size: 1.2em;
						margin: .75em 1.5em .75em 0;
						font-weight: 400;
						letter-spacing: .05em;
						display: block;
						color: #666;
					}
					.agent-match-nav a:hover{
						color: #3DB5E0;
					}
					.agent-match-nav .active{
						border-top: 1px solid #3DB5E0;
						color: #3DB5E0;
					}
					#about{
						width: 90%;
						display: block;
						font-weight: 400;
						color: #555;
					}
				}
      }
      button#submit-seller-profile {
        .ll-blue-button();
        font-size: 1.4em;
      }
    }
  }
}