@import '../_import/helper.less';
#page-contact {
    background: url(../../_img/page-contact/bg.jpg) no-repeat;
		background-size: cover;
    height: 650px;
    width: 100%;
    color: #fff;
    .default-text();
    strong{ font-weight: 400; font-size: 1.25em; }
    a { color: @ll-dark-link; }
    a:hover { color: @ll-dark-link-hover; }
		.contact-padding {
			padding-top: 100px;
			.main-contact{
				width: 64%;
				height: 500px;
				margin: 0 auto;
				position: relative;
				margin-top: 100px;
				background: #252525;
				border-radius: 4px 4px 0 0;
				.top {
						margin-left: 4%;
						.title {
								font-size: 2.5em;
								display: block;
								letter-spacing: 2px;
								padding-top: .75em;
								padding-bottom: 0;
								color: #fff;
								text-transform: uppercase;
						}
						p { font-size: .95em; }
				}
				.line {
					position: relative;
					width: 85%;
					left: 0;
					border-width: 0 0 thin 0;
					border-style: solid;
					margin-left: 4%;
					-webkit-border-image: -webkit-gradient(linear,right center,left center,from(rgba(0,0,0,0)),color-stop(25%,rgba(128,128,128,0.5)),color-stop(100%,rgba(128,128,128,0.5)),to(rgba(0,0,0,0))) 100% 10 20;
					border-image: linear-gradient(to left,rgba(0,0,0,0),rgba(128,128,128,0.5) 25%,rgba(128,128,128,0.5) 100%,rgba(0,0,0,0)) 1 1;
				}
				.live-chat {
						margin-left: 198px;
						height: 189px;
						color: #153f63;
						.title {
								font-size: 2.5em;
								display: block;
								letter-spacing: 4px;
								padding: 1.15em 0 0em 0;
								color: #153f63;
								text-transform: uppercase;
								p {
										line-height: 2em;
										font-size: 1em;
										letter-spacing: 2px;
								}
						}
				}
				.mid {
					margin-left: 10%;
					margin-top: 0;
					font-size: .95em;
				}
				.email {
						margin-left: 10%;
						margin-top: 40px;
						p {
								/*padding: 1.4em 0 2em 0;*/
								padding: 2em 0 2.8em 0;
								margin: 0 0 0 0;
								font-size: 1em;
								display: block;
						}
						img {
							position: absolute;
							margin-top: 7px;
							height: 40px;
						}
						.email-contact {
							margin-left: 100px;
							display: inline-block;
							line-height: 1.6em;
							font-weight: 400;
							letter-spacing: .05em;
						}
						.email-contact2 {
							margin-left: 80px;
							display: inline-block;
							line-height: 1.6em;
							font-weight: 400;
							letter-spacing: .05em;
						}
				}
				.phone {
						margin-left: 10%;
						margin-top: 20px;
						font-size: .95em;
						img {
							position: absolute;
							margin-top: 7px;
							height: 56px;
						}
						p {
								padding: 1em 0 2em 0;
								margin: 0 0 0 0;
								display: block;
						}
						.phone-contact {
								margin-left: 100px;
								margin-bottom: .5em;
								color: #fff;
								display: block;
								strong{letter-spacing:2px;}
						}
				}
			}
		}
}