@import '../_import/helper.less';

.listing {
		position: relative;
		width: 100%;
		@roundInverseSize: 40px;
		> a.quiz-results{
				background: black;
  			height: 40px;
    		width: 379px;
  			font-size: 0.9em;
  			left: 0;
  			letter-spacing: 0.1em;
  			line-height: @roundInverseSize;
  			margin: 0;
  			position: absolute;
  			text-align: center;
  			top: 0;
  			z-index: 50;
  			opacity: 0.85;
  			&:before {
    				background:url(../../_img/page-listings/meta-info-round-inverse.png) no-repeat;
    				content: " ";
    				position: absolute;
    				top: 0;
    				right: 0;
    				right: -@roundInverseSize;
    				width: @roundInverseSize;
    				height: @roundInverseSize;
				}
		}
		.gallery-full {
				height: 65px;
				width: 218px;
				position: absolute;
				right: 20px;
				top: 15px;
				background: rgba(21,21,21,0.75);
				color: white;
				border-radius: 7px;
				z-index: 50;
				.entypo-resize-full {
						position: absolute;
						font-size: 2em;
						font-weight: 100;
						top: 20px;
						left: 18px;
				}
				p {
						margin: 12px 0 -5px 60px;
						font-size: 1.6em;
						font-weight: 300;
						letter-spacing: .05em;
				}
				.subtitle {
						margin: 13px 0 0 62px;
						font-size: .8em;
				}
		}
		.gallery-full:hover {
				background: rgba(21,21,21,.9);
				color: #cde7f3;
		}
		> section{
				margin: 0 auto;
				@slideHeight: 595px;
				position: relative;
				width: 100%;
    // .backtoprofile{
    //   background: url(../../_img/page-listings/listing-top.png) no-repeat;
    //   display: block;
    //   position:absolute;
    //   top:0;
    //   left:0;
    //   width:442px;
    //   height:39px;
    //   z-index: 50;
    //   &:hover{background-position: 100% 0;}
    //   .transition(0);
    // }
				.listing-menu{
						background: url(../../_img/page-listings/mid_images.png) no-repeat;
						bottom: 0;
						height: 76px;
						left: 0;
						margin: 0;
						position: absolute;
						width: 100%;
						z-index: 45;
						> img{
								height: 76px;
								position: relative;
								margin: 0;
								width: 100%;
						}
						li {
								display: inline-block;
								height: 100%;
								width: 25%;
								&:nth-child(1){ width: 360px; }
								&:nth-child(2){ width: 355px; }
								&:nth-child(3){ width: 360px; }
								a {
										border-top: 0;
										border-bottom: 0;
										display: block;
										height: 100%;
										width: 100%;
								}
						}
				}
				.listing-meta{
						@listingMetaBG: rgba(0,0,0,0.75);
						background: @listingMetaBG;
						height: 555px;
						margin-top: @roundInverseSize;
						padding-top: 0em;
						position: absolute;
						top: 0px;
						width: 379px;
						z-index: 40;
						font-weight:400;
						.explore {
								color: #4e9cc0;
								text-align: center;
								.compass {
										position: relative;
										height: 100px;
										width: 100px;
										margin: 0 auto;
										img {
												position: absolute;
												left: 0;
												.transition(.2s); 
												&.top:hover {
														opacity: 0;
												}
										}
								}
								img {position: relative; display: block; margin-bottom: 10px; }
                p { font-family: @serif; padding-top: 10px; font-size: 2.5em; margin: 0; letter-spacing: .075em; display: inline-block; font-variant: small-caps; .transition(.2s); }
                span { font-size: 1.2em; padding-left: .25em; }
            }
            .explore:hover { color: #81D7FF; }
						> table {
								font-size: .85em;
								margin: 1em 0 0 1.2em;
        				text-align: left;
        				width: 90%;
        				letter-spacing: 1px;
								th, td { line-height: 1.2em; vertical-align: top; }
								th{ color: #fff; font-size: 1.15em; font-weight: 400; padding-bottom: 1.1em; }
								td{ 
										padding-bottom: 0.25em; 
										padding-left: 0.2em; 
										font-size: 1.15em; 
										text-align: right;
										sup { position:relative; top: -4px; }
										&.title{
												font-family: @serif;
												font-size:1.8em;
												letter-spacing: .1em;
												font-weight: 100;
												padding-bottom: 0;
												text-align: center;
												text-transform: uppercase;
										}
										&.street_address{
												font-style: italic;
												font-weight: 100;
												line-height: 1em;
												margin: 0;
												padding: 0 0 2em;
												text-align: center;
										}
								}
						}

			// table{
			// 	font-size: 1em;
			// 	margin: 1em auto 0;
			// 	text-align: left;
			// 	font-style: italic;
			// 	width: 87%;
			// 	th, td {vertical-align: top; }
			// 	th{ font-style: normal; font-weight: 400; padding-bottom: 0.25em; }
			// 	td{ padding-bottom: 0.25em; padding-left: 0.3em; text-align: right; text-shadow: 1px 1px 1px #333; }
			// 	td.title{
			// 		font-family:'Open Sans';
   //        font-size:1.8em;
   //        font-style:normal;
   //        font-weight: 100;
   //        line-height:1.1em;
   //        padding:1.5em 0 0;
   //        text-align:center;
   //        text-transform:uppercase;
			// 		span.not-first-letter{
			// 			margin:0 0.1em;
			// 		}
			// 		span.first-letter{
			// 			font-size: 1.25em;
			// 			margin-right: 0.05em;
			// 			text-shadow: none;
			// 		}
			// 		span.title-smaller{
			// 			border-top: 1px solid white;
			// 			display: inline;
			// 			font-size: 0.6em;
			// 			letter-spacing: 0.015em;
			// 		}
			// 	}
			// 	td.tagline{
			// 		font-size: 0.8em;
			// 		line-height: 1em;
			// 		padding: 0.1em 0 0.8em;
			// 		text-align: center;
			// 	}
			// 	td.desc{
			// 		font-size: 0.8em;
			// 		font-style: normal;
			// 		padding-bottom: 0.6em;
			// 		text-align: center;
			// 	}
			// 	td.about{
			// 		font-size: 0.8em;
			// 		line-height: 1em;
			// 		textarea{
			// 			border: 1px solid rgba(0, 0, 0, 0.6);
			// 			background:rgba(255, 255, 255, 0.3);
			// 			color: rgb(220, 220, 220);
			// 			margin-left: -1em;
			// 			padding: 0.5em;
			// 			width: 100%;
			// 		}
			// 	}
			// }
					
				}
					
				.listing-gallery{
						height: @slideHeight;
						margin: 0;
						position: relative;
						z-index: 40;
						width: 100%;
						> li{
								height: @slideHeight;
								width: 100%;
								> img{ height: 100%; width: 100%; }
						}
				}
				.bx-wrapper{
						position: relative;
						margin: 0 auto;
						overflow: auto;
						padding: 0;
						*zoom: 1;
						.bx-controls-direction{display:none;}
						.bx-controls{position:absolute;text-align:center;width:97%;z-index:9999;}
						.bx-pager{font-size:.85em;position:absolute;bottom:17px;right:-20px;width:25%;}
						.bx-controls-auto .bx-controls-auto-item,.bx-pager .bx-pager-item{display:inline-block;font-size:0;*zoom:1;*display:inline;}
						.bx-pager.bx-default-pager a{background:#fff;text-indent:-9999px;display:block;width:12px;height:12px;margin:0 5px;-moz-border-radius:12px;-webkit-border-radius:12px;border-radius:12px;}
						.bx-pager.bx-default-pager a.active,.bx-pager.bx-default-pager a:hover{background:#69c5ff;}
				}
		}
		.listing-info{
  			background: white;
  			color: black;
  			margin-bottom: 1.5em;
  			overflow: auto;
  			overflow-y: hidden;
				position: relative;
				.listing-about{
						float: left;
						padding: 0 0 1.5em 3em; 
						position: relative;
						width: 69%;
						h3{ 
								cursor: default;
								color: #e68328; 
								font-family: @sans; 
								font-size: 5em; 
								font-weight: normal; 
								letter-spacing: 0.12em; 
								line-height: 1em;
								margin: 0;
								padding: .25em 0 0.1em;
								text-transform: uppercase; 
						}
						.favorite{
								cursor: default;
								color: #EB8328;  
								font-size: 1.4em;
								font-weight: 400;  
								left: 780px;
								letter-spacing: .05em;
								line-height: 1em;
								position: absolute;
								top: .9em;
								img {
									position: absolute;
									right: -35px;
									top: 0;
									.transition(.2s); 
									&.top:hover {
										opacity: 0;
									}
								}
						}
							.discover-this-listing{
								cursor: default;
								color: lighten(black, 25%);
								font-size: 2em;
								font-weight: 400;
								left: 370px;
								letter-spacing: 0.05em;
								line-height: 1em;
								position: absolute;
								text-transform: uppercase;
								top: .9em;
								.subtitle1 {
									font-size: .8em;
									margin-top: 8px;
									left: -3px;
									position: absolute;
									color: #666;
								}
								.subtitle2 {
									letter-spacing: .08em;
									top: 33px;
									position: absolute;
								}
						}
						.text{ 
								height: 335px;
								overflow-y: auto;
								font-size: .95em;
								letter-spacing: 0em;
								font-weight: 500;
						}
				}
				.agent{
						float: right;
						position: relative;
						text-align: center;
						width: 27.65%;
						h3{  
								color: lighten(black, 25%);
								font-size: 1.3em;
								font-weight: 100;
								letter-spacing: .05em;
								margin: 0.5em 0;
								text-transform: uppercase;
						}
						img { .border-radius-all(50%); }
						.meta {
								font-family: @serif;
								h4 {
										color: lighten(black, 25%);
										font-family:'Perpetua';
										font-size: 2.5em;
										font-variant: small-caps;
										font-weight: 500;
										letter-spacing: .05em;
										margin: .3em 0 .25em;
								}
								> span { color: lighten(black, 25%); display: block; font-variant: small-caps; }
								.phone{ font-size: 1.55em; }
								.company{ font-size: 1.3em; }
						}
				}
				.explore {
						background: url(../../_img/page-listings/explore.jpg) no-repeat;
						float: left;
						position: relative;
						width: 100%;
						height: 403px;
						.text {
								position: absolute;
								right: 40px;
								top: 168px;
								text-align: center;
								font-family: @serif;
								font-size: 1.5em;
								letter-spacing: .05em;
								line-height: .35em;
						}
						.title { z-index: 4; color: white; text-transform: uppercase; display: block; font-size: 1.5em; padding-top: 35px; padding-bottom: 5px; }
						p { z-index: 4; color: white; }
						img { z-index: 2; }
						.transition(.5s); 
						&:hover{ opacity:.8; }
				}
				.tags{
						background:url(../../_img/page-listings/bg-tags.jpg) no-repeat;
						float: left;
						position:relative;
						width:100%;
						height:395px;
						.title {
								color: rgb(22, 82, 22);
								font-family: 'Perpetua';
								font-size: 1.8em;
								text-transform: uppercase;
								letter-spacing: .18em;
								position: absolute;
								left: 107px;
								top: 42px;
						}
						ul {
								position:relative;
								list-style:none;
								margin:5.5em 0 0 6.7em;
								width:70%;
								letter-spacing:1px;
								height:100%;
								> li{
										display:inline-block;
										font-size:1em;
										font-weight:400;
										text-transform:uppercase;
										width:25%;
										line-height:2.25em;
										> span{ color:#555; }
								}
						}
				}
				.video{
						background:url(../../_img/page-listings/bg-video.jpg) no-repeat;
						float: left;
						position: relative;
						width: 100%;
						height: 490px;
						.player {position:absolute;margin:2.6em 0 0 40em}
				}
		}
}