@import '../_import/helper.less';

#page-tips-and-hints{
    position: relative;
    overflow: hidden;
    width: 100%;
    color: #1a1a1a;
    font-weight: 500;
    font-family: @serif;
    text-align: center;
    .top{
        background: url(../../_img/page-tips-and-hints/top-bg.jpg) no-repeat;
        height: 399px;
        width: 1440px;
        .title{
            padding-top: 50px;
            height: 20px;
            line-height: 0;
            color: #fff;
            font-size: 4em;
            letter-spacing: .2em;
            text-transform: uppercase;
        }
        p{
            color: #555;
            line-height: 0;
            font-size: 2.7em;
            letter-spacing: .125em;
            font-variant: small-caps;
        }
        .back-to-admin{
            position: absolute;
            float: right;
            margin: 250px 0 0 -340px;
            background-color: #399cbf;
            .border-radius-all(6px);
            display: inline-block;
            color: #fff;
            font-family: @serif;
            font-size: 1.3em;
            text-transform: uppercase;
            padding: 4px 15px;
            letter-spacing: .1em;
        }
        .back-to-admin:hover{ background-color: #3188a6; }
        .premium-services{
            position: absolute;
            float: left;
            margin: 250px 0 0 135px;
            background-color: #399cbf;
            .border-radius-all(6px);
            display: inline-block;
            color: #fff;
            font-family: @serif;
            font-size: 1.3em;
            text-transform: uppercase;
            padding: 4px 15px;
            letter-spacing: .1em;
        }
        .premium-services:hover{ background-color: #3188a6; }
    }
    .below-top{
        background: white;
        height: 281px;
        width: 100%;
        p{
            padding-top: .85em;
            color: #1a1a1a;
            font-size: 1.5em;
            width: 90%;
            line-height: 2.5em;
            margin: 0 auto;
            letter-spacing: .04em;
        }
    }
    .title-bar {
        background: #567d91;
        height: 94px;
        width: 100%;
        position: relative;
        .title{
            color: #fff;
            font-size: 3.2em;
            float: left;
            padding-left: 1em;
            text-align: left;
            display: inline-block;
            width: 44%;
            letter-spacing: .1em;
            padding-top: 36px;
        }
        p{
            float: right;
            color: #fff;
            margin: 0;
            font-size: 1.5em;
            padding-right: 2em;
            line-height: 1.7em;
            letter-spacing: .04em;
            padding-top: 8px;
            text-align: right;
        }
        .quote-top{
            display: block;
            padding-right: 5em;
        }
    }
    .body p{
        padding-top: .75em;
        position: relative;
        color: #1a1a1a;
        font-size: 1.5em;
        width: 88%;
        line-height: 2.25em;
        letter-spacing: .04em;
        margin: auto;
    }
    .section1{
        height: 663px;
        width: 100%;
        background: white;
    }
    .section2{
        height: 790px;
        width: 100%;
        background: white;
        .body p{ font-size: 1.55em; letter-spacing: .05em; }
    }
    .section3{
        height: 1360px;
        width: 100%;
        background: white;
        .body p{ padding-top: .25em; letter-spacing: .05em; }
    }
    .section4{
        height: 1226px;
        width: 100%;
        background: white;
    }
    .section5{
        height: 3980px;
        width: 100%;
        background: white;
        .title{
            padding-bottom: .5em;
            font-size: 2em;
            color: #00aeef;
            text-transform: uppercase;
        }
        p{
            font-size: 1.85em;
            color: #000;
            font-style: italic;
            width: 85%;
            letter-spacing: .05em;
            margin: 0 auto;
            line-height: 1.2em;
        }
        .title-bar{
            .title{
                color: #fff;
                font-size: 3.2em;
                float: left;
                padding-left: 1em;
                text-align: left;
                display: inline-block;
                width: 44%;
                letter-spacing: .1em;
                padding-top: 36px;
            }
            .quote{
                float: right;
                color: #fff;
                margin: 0;
                font-size: 1.5em;
                padding-right: 2em;
                line-height: 1.7em;
                letter-spacing: .04em;
                padding-top: 8px;
                text-align: right;
            }
        }
        .set-yourself-apart{
            height: 1731px;
            background: url(../../_img/page-tips-and-hints/set-yourself-apart.jpg) no-repeat;
            .title{
                padding-left: 100px;
                padding-top: 580px;
                text-align: left;
            }
            p{
                padding-left: 100px;
                text-align: left;
                margin: 0;
            }
            .start-now{
                position: absolute;
                margin: .5em 0 0 7em;
                width: 290px;
                background-color: #00aeef;
                .border-radius-all(6px);
                display: inline-block;
                color: #fff;
                font-family: 'Open Sans';
                font-size: 2.5em;
                text-transform: uppercase;
                padding: 20px 25px;
                letter-spacing: .1em;
            }
            .start-now:hover{ background-color: #0698cf; }
        }
        .premium-video{
            height:861px;
            background:url(../../_img/page-tips-and-hints/premium-video.jpg) no-repeat;
            .title{ padding-top: 1em; }
        }
        .sell-listing{
            height:708px;
            background:url(../../_img/page-tips-and-hints/split-bg.jpg) no-repeat;
            .title{ padding-top: .5em; }
            .sell-split{
                padding-top: 2em;
                position: relative;
                display: inline-block;
                float: left;
                .title{
                    padding-top: .5em;
                    font-size: 1.6em;
                    color: #147cca;
                    letter-spacing: .2em;
                }
                p{
                    padding-top: .25em;
                    color: #000;
                    font-size: 1.5em;
                    font-style: italic;
                    line-height: 1.1em;
                    width: 90%;
                    margin: 0 auto;
                }
                .split1{
                    width: 480px;
                    float: left;
                    display: inline-block;
                }
                .split2{
                    width: 480px;
                    float: left;
                    display: inline-block;
                }
                .split3{
                    width: 480px;
                    float: left;
                    display: inline-block;
                }
            }
        }
        .invest{
            height: 586px;
            background: url(../../_img/page-tips-and-hints/invest.jpg) no-repeat;
            .title{ padding-top: .75em; }
            .bullets{
                position: absolute;
                bottom: 0;
                float: left;
                text-align: left;
                padding-bottom: 203px;
                padding-left: 97px;
                font-size: 1em;
                color: #000;
                p{
                    font-size: 1.5em;
                    font-style: normal;
                    text-align: left;
                    line-height: 1.95em;
                    width: 100%;
                    margin: 0;
                }
            }
            .start-now{
                position: absolute;
                margin: 0 auto 85px auto;
                left: 0;
                right: 0;
                bottom: 0;
                width: 290px;
                background-color: #00aeef;
                .border-radius-all(6px);
                display: inline-block;
                color: #fff;
                font-family: 'Open Sans';
                font-size: 2.5em;
                text-transform: uppercase;
                padding: 20px 25px;
                letter-spacing: .1em;
            }
            .start-now:hover{ background-color: #0698cf; }
        }
    }
}