@import '../_import/helper.less';

#page-register{
    overflow: hidden;
    text-align: left;
    height: 100%;
    width: 100%;
    font-weight: 400;
    section{
        position: relative;
        .calltoaction{
            position: fixed;
            z-index: 9999;
            background: rgba(255,255,255,0.85);
            height: 88px;
            width: 1440px;
            cursor: pointer;
            .transition(0.25s);
            display: none;
            &:hover{background:rgba(225,225,225,.85);}
        }

        .top{
            background: url(../../_img/backgrounds/splash-page-sign-up.jpg) no-repeat;
            background-size: 100% 100%; overflow: hidden;
            position: relative;
            height: 716px;
            width: 100%;
            .right-col{
                width: 500px;
                display: inline-block;
                overflow: hidden;
                position: relative;
                //color: #111;
                margin-left: 30%;
                h2{
                    //color: #111;
    				margin: 2.5em 0 1em 0;
    				text-align: left;
    				padding-left: 150px;
                    font-weight: 500;
                    font-family: @serif;
                    font-size: 1.6em;
                    line-height: .2em;
                }
                #login-form {
                    label {
                        color: white;
                    }
                    #user_login {
                        background-color: white!important;
                        color: black;
                    }
                    #user_pass {
                        background-color: white!important;
                        color: black;
                    }
					input#login-button{
                        .button-blue-simple();
    			 		height: 32px;
    			 		width: 150px;
    			 		font-size: 1em;
                        &:hover{background-color: #13c1ff;}
					}
                }
                #register{
					label{
						width: 130px;
						padding-right: 20px;
						float: left;
						text-align: right;
					}
                    input {
                        display: inline;
                        width: 251px;
                        height: 25px;
                        margin-bottom: .5em;
                        border-radius: .25em;
                        border: 0;
                        border-style: groove;
                        padding-left: 7px;
                        border-color: rgba(0,0,0,0.6);
                        //color: #444;
                        &#submitbtn{
                            .button-blue-simple();
					 		height: 32px;
					 		width: 200px;
					 		font-size: 1em;
							margin-top: 1em;
					 		margin-left: 150px;
                            &:hover{background-color: #13c1ff;}
                        }
                    }
                    #name input {
                        width: 120px;
                    }
                    div#opt-in {
                        color:#CDEAFF;
                        font-family: 'Perpetua';
                        font-weight: 300;
                        line-height: 100%;
                        font-size: 1.0em;
                        padding: .5em;
                        text-align: center;
                        margin-top: 5px;
                        input {
                            width: auto;
                            display: inline-block;
                        }
                    }
                    #verifyDiv #marker {
                        display: inline;
                        padding-left: 10px;
                        color: red;
                    }
                    #professional {
                        margin-bottom: 36px;
                        #realtor {
                            display: inline-block;
														width: 14px;
														bottom: 2px;
														left: 146px;
														position: relative;
														float: left;
                        }
												span {
														position: relative;
														display: inline-block;
														float: left;
														left: 150px;
												}
                    }
                    #bre {
                        display: block; 
                        margin-bottom: 5px;
                        input#breID {
                            width: 30%;
														margin-right: 25px;
                        }
                        #invite {
                            margin-left: 41px;
														margin-right: 20px;
														display: inline-block;
                        }
                        #invitation_code {
                            display: inline;
                            width: 90px;
                        }
                    }
                }
               		
                
                }
                .take-time{
                    text-align:center;
                    background:rgba(0,0,0,.7);
                    height:98px;
                    width:100%;
                    position:absolute;
                    bottom:0;
                    cursor:pointer;
                    .transition(0.25s);
                    &:hover{background: rgba(50,50,50,.7);}
                }
        }
        .middle{
            background: url(../../_img/page-register/middle-bg.jpg) no-repeat;
            position: relative;
            height: 777px;
            width: 100%;
            .text{
                padding-top: 121px;
                padding-left: 564px;
                color: #000;
                float: left;
                width: 725px;
                p{
                    font-size: 1.5em;
                    font-family: 'Open Sans';
                    font-variant: small-caps;
                    margin: .5em 0 2.5em 0;
                }
                .title{
                    color: #0076a3;
                    font-size: 2.6em;
                    text-transform: uppercase;
                    display: block;
                }
            }
        }
        .bottom {
            margin: 10% 0 0 0%;
            text-align: center;
            span {
                margin-left: 0%;
            }
            button {
                .button-blue();
            }
        }
        .bottom-top{
            background: url(../../_img/page-register/bottom-top-bg.jpg) no-repeat;
            position: relative;
            height: 794px;
            width: 100%;
            .text{
                float: right;
                text-align: left;
                width: 450px;
                padding-top: 7.5em;
                padding-right: 2em;
                p{
                    color: #000;
                    font-size: 1em;
                    line-height: 3em;
                    font-family: 'Open Sans';
                }
                .title{
                    text-align: center;
                    color: #131c58;
                    font-size: 3em;
                    font-family: @serif;
                    text-transform: uppercase;
                    display: block;
                    padding-top: 2em;
                    line-height: 1.2em;
                }
            }
        }
        .bottom-mid{
            background: url(../../_img/page-register/bottom-mid-bg.jpg) no-repeat;
            position: relative;
            height: 701px;
            width: 100%;
            .text{
                float: left;
                text-align: left;
                width: 525px;
                padding-top: 2em;
                padding-left: 3em;
                p{
                    color: #000;
                    font-size: 1em;
                    line-height: 3em;
                    font-family: 'Open Sans';
                }
                .title{
                    text-align: center;
                    color: #7d1b1e;
                    font-size: 3em;
                    font-family: @serif;
                    text-transform: uppercase;
                    display: block;
                    padding-top: .5em;
                    line-height: 1.2em;
                }
            }
        }
        .bottom-last{
            background: url(../../_img/page-register/bottom-last-bg.jpg) no-repeat;
            position: relative;
            height: 713px;
            width: 100%;
            .text{
                float: right;
                text-align: left;
                width: 630px;
                padding-top: 570px;
                padding-right: 3em;
                p{
                    color: #000;
                    font-size: 1.25em;
                    line-height: 1.65em;
                    font-family: 'Open Sans';
                }
            }
        }
        .syndication{
            background: url(../../_img/page-register/syndication.jpg) no-repeat;
            position: relative;
            height: 812px;
            width: 100%;
            .text{
                float: left;
                text-align: center;
                width: 100%;
                padding-top: 1em;
                p{
                    color: #131313;
                    font-size: 2.5em;
                    line-height: 1em;
                    font-variant: small-caps;
                    font-family: @serif;
                }
                .title{
                    text-align: center;
                    color: #383a3a;
                    font-size: 5em;
                    text-transform: uppercase;
                    display: block;
                    padding-top: .4em;
                    font-family: @serif;
                }
            }
        }
    }
}