@import '../_import/helper.less';


.special-register {
	position: relative;
	width: 1440px;
	height: 1080px;
	background: url(../../_img/backgrounds/splash-page-sign-up.jpg);

	.notice {
		display: block;
		top: 28%;
		left: 10%;
		width: 45%;
		.divNotice {
			position: relative;
			font-family: @serif;
		 
			> label {
				position: relative;
				margin-top: 2em;
				font-size: 1.6em;
				left: 120px;
				font-family: @sans;
			}
			h3 {
					margin: 0 0 0.25em;
					font-size: 2.4em;
					font-weight: 300;
					letter-spacing: 0.25em;
					font-variant: small-caps;
					text-align: center;
				}
			.line{
	            width:100%;
	            left: 0;
	            border-width: 0 0 medium 0;
				border-style: solid;
				padding: 0 0 0 0; 
	            -webkit-border-image: -webkit-gradient(linear, left center, right center, from(rgba(0,0,0,0)), color-stop(25%, rgba(24,142,201,.5)), color-stop(75%, rgba(24,142,201,.5)), to(rgba(0,0,0,0))) 75% 10 20;
	            border-image: linear-gradient(to right, rgba(0,0,0,0), rgba(24,142,201,.5) 25%, rgba(24,142,201,.5) 75%, rgba(0,0,0,0)) 1 1;
	        }
	    }
	}
	#outerdiv {
		display: inline;
		position: absolute;
		z-index: 5;
		top: 20%;
		left: 10%;
		.closeVid {
			position: relative;
			top: -724px;
			left: 95%;
			z-index: 11;
			border: 1px;
			 background-color: #000;
			 .border-radius-all(4px);
			 color: white;
			 cursor: pointer;
			 font-family: @sans;
			 font-size: 0.9em;
			 letter-spacing: .1em;
			 //padding: 0.3em 1.5em;
			 text-decoration: none;
			 text-transform: uppercase;
			 &:hover,&.hover { background-color: rgba(24,142,201,1); }
			 .transition(.25s);
		}
	    iframe {
	    	z-index: 10;
	    	position: relative:
	    	top: 20px;
		}
	}
	.video {
	  	position: absolute;
		clear: both;
        top: 65%;
		left: 20%;
		font-family: @serif;
        font-size: 1.6em;
        margin-top: 30px;
        color: rgba(128,128,220,1);
        letter-spacing: .2em;
    }

    .userData {
	    position: absolute;
	    top: 5%;
		left: 60%;
		width: 40%;
	    .userDiv {
	    	padding: 5px;
	    	border: 1px thin; // rgba(255,255,255,1);
			display: block;
			
		}
	}
}


 
