@import '../_import/helper.less';

#nav-wrap{
    width: 450px;
    input{
        display: block;
        width: 325px;
        height: 25px;
        margin-bottom: .5em;
        border-radius: .25em;
        border: 1px;
        border-style: groove;
        padding-left: 7px;
        border-color: rgba(0,0,0,0.6);
        //color: #444;

       &#submitbtn &#cancel{
            width: 150px;
            height: 32px;
            border: 0;
            cursor: pointer;
            position: relative;
            text-align: center;
            background-color: #399cbf;
            .border-radius-all(6px);
            display: inline-block;
            color: #fff;
            font-family: 'Open Sans';
            font-size: 1.3em;
            text-transform: uppercase;
            padding: 0 0 5px 0;
            letter-spacing: .1em;
            text-decoration: none;
        }
        &#submitbtn:hover{background-color:#3188a6;}                   
        &#cancel:hover{background-color:#3188a6;}                   
    }
    #bre {
        display: block;
        margin-bottom: 5px;
        input[name=realtor-id] {
            display: inline;
        }
        #invite {
            padding-left: 30px;
        }
        #stateLabel  #states #invite {
            display: inline;
        }
        #invitation_code {
            display: inline;
            width: 90px;
        }
    }
    #name { 
        left: 20px;
        input {
            display: inline;
            width: 156px;
        }
    }
    #login {
        left: 20px;
        input[name=login-id] {
            display: inline;
            width: 130px;
        }
        input[name=email] {
            display: inline;
            width: 182px;
        }                      
    }
    #passwd {
        left: 20px;
        input {
            display: inline;
            width: 156px;
        }
    }
    #marker {
        position: absolute;
        top: 72px;
        right: 34px;
            //display: inline;
            padding-left: 5px;
            color: red;
            //visibility: hidden;
        }
}