// Site-Wide
@sans: @opensans;
@sans-condensed: @roboto;
@serif: @perpetua;

@links: @ll-light-blue;
@links-hover: @ll-light-blue-hover;

@opensans:'Open Sans', sans-serif;
@perpetua: 'Perpetua', serif;
@roboto: 'Roboto', sans-serif;
@tinos:'Tinos', serif;


// -------- LL Site 2.0 Global Code -------- //

.intro-transition(@time: 1.5s){
	-moz-transition: all 1.5s ease-in-out;
	-o-transition: all 1.5s ease-in-out;
	-webkit-transition-property: -webkit-transform,opacity;
	-webkit-transition-duration: 1s;
	-webkit-transition-timing-function: ease-in;
	transition-property: transform,opacity;
	transition-duration: 1.5s;
	transition-timing-function: ease-in;
}

// Colors //
@ll-text: #555;
@ll-light-text: #666;
@ll-lighter-text: #777;
@ll-dark-text: #333;
@ll-darker-text: #222;
@ll-green: #4affcb;
@ll-green-modal: #50e3c2;
@ll-logo-blue: #29abff;
@ll-blue: #4a90e2; @ll-blue-hover: #70b6ff;
@ll-med-blue: #3B96EF; @ll-med-blue-hover: #70b6ff;
@ll-light-blue: #42a9f3; @ll-light-blue-hover: #62baf9; 
@ll-dark-link: #2c90bf; @ll-dark-link-hover: #45b9ef;
@ll-pink: #e4486b; @ll-pink-hover: #ea5e7d;
@ll-blue-button: #5fa5e2; @ll-blue-button-hover: #6eb5f3;
@ll-light-blue-button: #4198f3; @ll-light-blue-button-hover: #5cacff;
@ll-dark-blue-button: #2D8BCE; @ll-dark-blue-button-hover: #41a1e6; 

// Defaults //
.default-text() {
	font-weight: 400;
	cursor: default;
}

.one-div() {
	position: relative;
	display: block;
	width: 100%;
}

.two-div-parent() {
	position: relative;
	display: table;
	width: 100%;
}
.two-div-child {
	display: table-cell;
	width: 50%;
}

.three-div-parent() {
	position: relative;
	display: table;
	width: 100%;
}
.three-div-child() {
	display: table-cell;
	.calc-width-all(~'100% / 3');
}

.main-popup() {
	position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.main-popup-bg {
	background: rgba(25,25,25,.75);
	z-index: 1;
	height: 100%;
	width: 100%;
	position: absolute;
}



// Buttons //

.ll-basic-button() {
  position: relative;
  cursor: pointer;
  color: white;
  font-size: 1em;
  font-weight: 300;
  font-family: @sans;
  letter-spacing: 1px;
  border: 1px;
  .border-radius-all(4px);
  padding: .6em 2em;
  text-decoration: none;
  .transition(.25s);
  > .text {
    font-size: 1.1em;
    letter-spacing: .03em;
    line-height: 1.3em;
    position: relative;
    padding: 0 15px;
  }
  > .icon {
    color: white;
    font-size: 1em;
    line-height: 1.3em;
    position: relative;
    left: -3px;
  }
  &:disabled {
    background-color: #d3d3d3 !important;
    cursor: default !important;
    color: #fff !important;
		pointer-events: none;
  }
}

.ll-blue-button() {
  .ll-basic-button();
  background-color: @ll-blue-button;
  &:hover,&.hover { background-color: @ll-blue-button-hover; }
}

.ll-blue-button-round() {
  .ll-basic-button();
	.border-radius-all(6px);
  background-color: @ll-blue-button;
  &:hover,&.hover { background-color: @ll-blue-button-hover; }
}

.ll-light-blue-button() {
  .ll-basic-button();
  background-color: @ll-light-blue-button;
  &:hover,&.hover { background-color: @ll-light-blue-button-hover; }
}

.ll-light-blue-button-round() {
  .ll-basic-button();
	.border-radius-all(6px);
  background-color: @ll-light-blue-button;
  &:hover,&.hover { background-color: @ll-light-blue-button-hover; }
}

.ll-dark-blue-button() {
  .ll-basic-button();
  background-color: @ll-dark-blue-button;
  &:hover,&.hover { background-color: @ll-dark-blue-button-hover; }
}

.ll-dark-blue-button-round() {
  .ll-basic-button();
	.border-radius-all(6px);
  background-color: @ll-dark-blue-button;
  &:hover,&.hover { background-color: @ll-dark-blue-button-hover; }
}

.ll-pink-button() {
  .ll-basic-button();
  background-color: @ll-pink;
  &:hover,&.hover { background-color: @ll-pink-hover; }
}

.ll-pink-button-round() {
  .ll-basic-button();
	.border-radius-all(6px);
  background-color: @ll-pink;
  &:hover,&.hover { background-color: @ll-pink-hover; }
}

// Old Buttons //

.button-blue(){
	margin-top: 5px;
 border: 1px;
 background-color: @light-blue;
 .box-shadow(2px, 2px, 2px, 1px, rgba(34,34,34,0.4));
 .border-radius-all(4px);
 color: white;
 cursor: pointer;
 font-family: @sans;
 font-size: 0.9em;
 letter-spacing: .1em;
 padding: 0.25em 1.5em;
 text-decoration: none;
 text-transform: uppercase;
 &:hover,&.hover { background-color: #5FC1E4; }
 .transition(.25s);
 > .text {
 	font-size:1.1em;
  letter-spacing: .03em;
  line-height:1.3em;
  position:relative;
  padding:0 15px;
 }
 > .icon {
 	color: white;
  font-size:1.0em;
  line-height:1.3em;
  position:relative;
  left:-3px;
 }
 &:disabled {
 	background-color: desaturate(@light-blue, 40%);
 	color: darken(white, 20%);
 	opacity: 0.8;
 	cursor: default;
 }
}

.button-blue-narrow(){
 margin-top: 5px;
 border: 1px;
 background-color: @light-blue4;
 .box-shadow(2px, 2px, 2px, 1px, rgba(34,34,34,0.4));
 .border-radius-all(4px);
 color: white;
 cursor: pointer;
 font-family: @sans;
 font-size: 1em; 
 font-weight: 300; 
 letter-spacing: .1em; 
 padding: .35em 1.6em;
 text-decoration: none;
 text-transform: uppercase;
 &:hover,&.hover { background-color: #3EA6CB; }
 .transition(.25s);
 > .text {
 	font-size:1.1em;
  letter-spacing: .03em;
  line-height:1.3em;
  position:relative;
  padding:0 15px;
 }
}

.button-blue-simple(){
	margin-top: 5px;
 border: 1px;
 background-color: #18a3d7;
 .border-radius-all(4px);
 color: white;
 cursor: pointer;
 font-family: @sans;
 font-size: 0.9em;
 letter-spacing: .1em;
 padding: .3em 1.5em;
 text-decoration: none;
 text-transform: uppercase;
 &.hover { background-color: #13c1ff; }
 .transition(.25s);
}

.blue-button(){
 	.button-blue();
}




// -------- All Other Global Code -------- //

// Background on popup / modal open
@dialog-bg: darken(@dark-gray, 10%);

// Colors
@dark-gray: rgb(40, 40, 40);
@light-gray: lighten(@dark-gray, 20%);

@orange: #dc863a;

@blue: #14bfe9; @blue-hover: #33d6ff;
@dark-blue: #186EA0;
@dark-blue-hover: #3AA2DF;
@light-blue: #399cbf;
@light-blue2: saturate(lighten(@light-blue, 8%), 30%);
@light-blue3: #32B0DD;
@light-blue3-hover: #2198C2;
@light-blue4: #2082A5;
@dark-blue: #186b9f;

@green-gray: #7caab0;

@desatFoam: #b7bfb2;
@yellow: #F59333;

@red-error: hsl(0, 100, 0.008);

@dark-red: rgba(130,50,50,0.7);
@dark-green: saturate(darken(rgba(50,100,50,0.8), 10%), 50%);

.columns(@number: 3, @gutter: 10px){
	-webkit-column-count: @number; /* Chrome, Safari, Opera */
 -moz-column-count: @number; /* Firefox */
 column-count: @number;
	-webkit-column-gap: @gutter; /* Chrome, Safari, Opera */
 -moz-column-gap: @gutter; /* Firefox */
 column-gap: @gutter;
}

.rotate(@angle: 90deg){
	-moz-transform: rotate(@angle);
	-webkit-transform: rotate(@angle);
	-o-transform: rotate(@angle);
	-ms-transform: rotate(@angle);
	transform: rotate(@angle);
}

.grad-vertical(@color1: black; @color2: white; @percent1: 0%; @percent2: 100%){
	background: -moz-linear-gradient(top, @color1 @percent1, @color2 @percent2); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(@percent1,@color1), color-stop(@percent2,@color2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, @color1 @percent1,@color2 @percent2); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, @color1 @percent1,@color2 @percent2); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, @color1 @percent1 @color2 @percent2); /* IE10+ */
	background: linear-gradient(to bottom, @color1 @percent1,@color2 @percent2); /* W3C */
	//filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

.grad-horizontal(@color1: black; @color2: white; @percent1: 0%; @percent2: 100%){
	background: @color1; /* Old browsers */
	background: -moz-linear-gradient(left, @color1 @percent1, @color2 @percent2); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(@percent1,@color1), color-stop(@percent2,@color2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, @color1 @percent1,@color2 @percent2); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, @color1 @percent1,@color2 @percent2); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, @color1 @percent1,@color2 @percent2); /* IE10+ */
	background: linear-gradient(to right, @color1 @percent1,@color2 @percent2); /* W3C */
	//filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@color1', endColorstr='@color2',GradientType=1 ); /* IE6-9 */
}

.transition(@time: 0.1s; @type: ease-in-out; @which: all){
	-moz-transition: @which @time @type;
	-webkit-transition: @which @time @type;
	-o-transition: @which @time @type;
	transition: @which @time @type;
}

.box-shadow( @shadow1: 3px 3px 2px 0 rgba(0,0,0,.4) ) {
  -webkit-box-shadow: @shadow1;
  -moz-box-shadow: @shadow1;
  box-shadow: @shadow1;
}

.box-shadow(@shadow1, @shadow2) {
  -webkit-box-shadow: @shadow1, @shadow2;
  -moz-box-shadow: @shadow1, @shadow2;
  box-shadow: @shadow1, @shadow2;
}

.box-shadow(@shadow1, @shadow2, @shadow3) {
  -webkit-box-shadow: @shadow1, @shadow2, @shadow3;
  -moz-box-shadow: @shadow1, @shadow2, @shadow3;
  box-shadow: @shadow1, @shadow2, @shadow3;
}

.box-shadow(@shadow1, @shadow2, @shadow3, @shadow4) {
  -webkit-box-shadow: @shadow1, @shadow2, @shadow3, @shadow4;
  -moz-box-shadow: @shadow1, @shadow2, @shadow3, @shadow4;
  box-shadow: @shadow1, @shadow2, @shadow3, @shadow4;
}

.box-shadow(@shadow1, @shadow2, @shadow3, @shadow4, @shadow5) {
  -webkit-box-shadow: @shadow1, @shadow2, @shadow3, @shadow4, @shadow5;
  -moz-box-shadow: @shadow1, @shadow2, @shadow3, @shadow4, @shadow5;
  box-shadow: @shadow1, @shadow2, @shadow3, @shadow4, @shadow5;
}

.box-shadow-inset(@x: 3px; @y: 3px; @blur: 2px; @spread: 0px; @color: rgba(0,0,0,0.4)){
	-moz-box-shadow: inset @arguments;
	-webkit-box-shadow: inset @arguments;
	box-shadow: inset @arguments;
}

.calc-width-all(@calcwidth: 100% - 2em){
    width: -webkit-calc(@calcwidth);
    width: -moz-calc(@calcwidth);
    width: calc(@calcwidth);
}
.calc-height-all(@calcwidth: 100% - 2em){
    height: -webkit-calc(@calcwidth);
    height: -moz-calc(@calcwidth);
    height: calc(@calcwidth);
}

.border-radius-all(@radius: 5px){
	-moz-border-radius: @radius;
	-webkit-border-radius: @radius;
	border-radius: @radius;
}

.border-radius(@top-left: 1em; @top-right: 1em; @bottom-left: 1em; @bottom-right: 1em){
	-moz-border-radius: @top-left @top-right @bottom-left @bottom-right;
	-webkit-border-radius: @top-left @top-right @bottom-left @bottom-right;
	border-radius: @top-left @top-right @bottom-left @bottom-right;
}

.text-shadow(@x: 1px; @y: 1px; @blur: 1px; @color: black){
	text-shadow: @arguments;
}

.box-sizing(@sizing: border-box) {
 -ms-box-sizing: @sizing;
 -moz-box-sizing: @sizing;
 -webkit-box-sizing: @sizing;
 box-sizing: @sizing;
}

// faded out gradient line
.h2-after(@h2aftercolor: rgba(255,255,255,1) ){
	content: "";
	margin: 0.98em auto 0;
	height: 1px;
	background: -moz-linear-gradient(left, transparent 0%, @h2aftercolor 50%, transparent 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,transparent), color-stop(50%,@h2aftercolor), color-stop(100%,transparent));
	background: -webkit-linear-gradient(left, transparent 0%,@h2aftercolor 50%,transparent 100%);
	background: -o-linear-gradient(left, transparent 0%,@h2aftercolor 50%,transparent 100%);
	background: -ms-linear-gradient(left, transparent 0%,@h2aftercolor 50%,transparent 100%);
	background: linear-gradient(to right, transparent 0%,@h2aftercolor 50%,transparent 100%);
	//filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff00', endColorstr='#ffffff00',GradientType=1 );
	display: block;
	width: 85%;
	text-shadow: 0.05em 0.05em 0.05em rgba(54,54,54,0.7), 0.05em 0.05em 0.5em rgba(0,0,0,1);
}

.h4-after(){
	content: "";
	margin: 0 auto;
	height: 1px;
	background: -moz-linear-gradient(left, transparent 0%, rgba(255,255,255,1) 50%, transparent 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,transparent), color-stop(50%,rgba(255,255,255,1)), color-stop(100%,transparent));
	background: -webkit-linear-gradient(left, transparent 0%,rgba(255,255,255,1) 50%,transparent 100%);
	background: -o-linear-gradient(left, transparent 0%,rgba(255,255,255,1) 50%,transparent 100%);
	background: -ms-linear-gradient(left, transparent 0%,rgba(255,255,255,1) 50%,transparent 100%);
	background: linear-gradient(to right, transparent 0%,rgba(255,255,255,1) 50%,transparent 100%);
	//filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff00', endColorstr='#ffffff00',GradientType=1 );
	display: block;
	opacity: 0.5;
	width: 45%;
	text-shadow: 0.05em 0.05em 0.05em rgba(54,54,54,0.7), 0.05em 0.05em 0.5em rgba(0,0,0,1);
}

.inputs() { background:rgba(255, 255, 255, 0.95); border: 1px solid #333; color: rgba(0,0,0,0.8);
	padding:0.25em; .border-radius-all(0.25em); }

.modal() {
	.ui-dialog{
		background: @dialog-bg;
		font-size: 0.75em;
		input,textarea,select{ .inputs(); margin-bottom:0.25em; width: 98%;}
		select{ width: 100%; }
		.ui-dialog-titlebar, &>.ui-dialog-buttonpane, .ui-widget-header{
			background: @dialog-bg; border: none; margin-top: 0; padding-top:6px;
			button{ display:none; margin: 0 5px; padding: 0; }
		}
		.ui-dialog-buttonpane button { display: inline-block; }
		.ui-dialog-titlebar-close{ display:none; }
		.ui-dialog-buttonset > button {
			margin: 0 0 0 10px;
		}
		.ui-dialog-content{
			line-height: 1.3em;
		}
		form {
			text-align: left;
			margin: 0 auto;
			table{
				th{font-size: 0.8em; width: 115px; vertical-align: top;}
				width: 100%;
			}
			ul{
				> li { display: inline-block; margin:0 3% 0.2em 0; width: 47%;
					> input {width: 100%; }
				}
			}
		}
	}
}

.ui-tooltip(){
	border: none;
	font-size: 0.6em;
	margin: 0;
  padding: 0.25em 0.5em;
  color: white;
  border-radius: 0.5em;
}

.navMenu(){
	ul.menu{
		background: #171717;
		color: #b7bfb2;
		text-align:center;
		width:100%;
		li {margin:2.5em 5em;
			color: #b7bfb2;
			display: inline-block;
			a {
				color:@yellow;
				font-size:1.25em;
				font-weight:bold;
				font-variant: small-caps;
				&:hover{ color:saturate(lighten(@yellow, 15%), 50%); }
			}
		}
	}
}

.info(){
	ul.info { background: #171717; color: #b7bfb2; line-height: 1.3em; width: 75%; margin:4em auto 1em;
		text-align:center;
		& > li { display: inline-block; vertical-align: top; width:33%; }
	}
}

.clean-gray() {
 background-color: #eeeeee;
 background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #cccccc));
 background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
 background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
 background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
 background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
 background-image: linear-gradient(top, #eeeeee, #cccccc);
 border: 1px solid #ccc;
 border-bottom: 1px solid #666;
 border-radius: 3px;
 color: #333;
 padding: 8px 0;
 text-align: center;
 text-shadow: 0 1px 0 #eee;
 width: 150px;
 &:hover {
  background-color: #dddddd;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dddddd), color-stop(100%, #bbbbbb));
  background-image: -webkit-linear-gradient(top, #dddddd, #bbbbbb);
  background-image: -moz-linear-gradient(top, #dddddd, #bbbbbb);
  background-image: -ms-linear-gradient(top, #dddddd, #bbbbbb);
  background-image: -o-linear-gradient(top, #dddddd, #bbbbbb);
  background-image: linear-gradient(top, #dddddd, #bbbbbb);
  border: 1px solid #bbb;
  border-bottom: 1px solid #999;
  cursor: pointer;
  text-shadow: 0 1px 0 #ddd; }
  &:active,&.current-page {
   border: 1px solid #aaa;
   border-bottom: 1px solid #888;
   -webkit-box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee;
   box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee; }
 }

 .clean-dark() {
  background: #515151; /* Old browsers */
  background: -moz-linear-gradient(top, #515151 0%, #000000 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#515151), color-stop(100%,#000000)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #515151 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #515151 0%,#000000 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #515151 0%,#000000 100%); /* IE10+ */
  background: linear-gradient(to bottom, #515151 0%,#000000 100%); /* W3C */
 }

.spinner(@cube-color: #fff; @spinner-size: 32px; @move-scale: 1.3125; @size-scale: 1){
	@anim-name: 'move_{@move-scale}_{@spinner-size}';

	margin: auto;
 width: @spinner-size * (@move-scale / 1.3125) * @size-scale;
 height: @spinner-size * (@move-scale / 1.3125) * @size-scale;
 position: relative;

	.cube1, .cube2 {
	 background-color: @cube-color;
	 width: .3125 * @spinner-size;
	 height: .3125 * @spinner-size;
	 position: absolute;
	 top: 0;
	 left: 0;
	 -webkit-animation: @anim-name 1.8s infinite ease-in-out;
	 animation: @anim-name 1.8s infinite ease-in-out;
	}
	.cube2 {
	 -webkit-animation-delay: -0.9s;
	 animation-delay: -0.9s;
	}

	@-webkit-keyframes @anim-name {
	 25% { -webkit-transform: translateX(@move-scale *@spinner-size) rotate(-90deg) scale(0.5) }
	 50% { -webkit-transform: translateX(@move-scale * @spinner-size) translateY(@move-scale * @spinner-size) rotate(-180deg) }
	 75% { -webkit-transform: translateX(0px) translateY(@move-scale * @spinner-size) rotate(-270deg) scale(0.5) }
	 100% { -webkit-transform: rotate(-360deg) }
	}

	@keyframes @anim-name {
	 25% {
	  transform: translateX(@move-scale * @spinner-size) rotate(-90deg) scale(0.5);
	  -webkit-transform: translateX(@move-scale * @spinner-size) rotate(-90deg) scale(0.5);
	 } 50% {
	  transform: translateX(@move-scale * @spinner-size) translateY(@move-scale * @spinner-size) rotate(-179deg);
	  -webkit-transform: translateX(@move-scale * @spinner-size) translateY(@move-scale * @spinner-size) rotate(-179deg);
	 } 50.1% {
	  transform: translateX(@move-scale * @spinner-size) translateY(@move-scale * @spinner-size) rotate(-180deg);
	  -webkit-transform: translateX(@move-scale * @spinner-size) translateY(@move-scale * @spinner-size) rotate(-180deg);
	 } 75% {
	  transform: translateX(0px) translateY(@move-scale * @spinner-size) rotate(-270deg) scale(0.5);
	  -webkit-transform: translateX(0px) translateY(@move-scale * @spinner-size) rotate(-270deg) scale(0.5);
	 } 100% {
	  transform: rotate(-360deg);
	  -webkit-transform: rotate(-360deg);
	 }
	}
}