<table>
	<tbody>
		<tr>
			<td>Hello %first_name% %last_name%,</td>
		</tr>
		<tr>
			<td>You have %listing_count% with us, %connector% we wanted to present you with an exciting opportunity!</td>
		</tr>
		<tr>
			<td>
				<div id="header">
					<span id="line1" style="display: block">BECOME A LUXURY LIFESTYLED AGENT</span>
					<span id="line2" style="display: block">Act Now, Exclusively Available to only 3 Agents per LifeStyle</span>
					<span id="line3" style="display: block">Dominate Your Areas of Expertise by Being an Exclusive Agent in Your Area</span>
				</div>
			</td>
		</tr>
	</tbody>
</table>
<table>
	<tbody>
		<tr>
			<td><div><span>1</span>
					<span class="catchy">STAND OUT FROM YOUR PEERS!</span>
				</div>
			</td>
			<td><div><span>2</span>
				<span class="catchy">WORK WITH YOUR DREAM CLIENTS</span>
				</div>
			</td>
			<td><div><span>3</span>
				<span class="catchy">CLOSE BIGGER TRANSACTIONS</span>
				</div>
			</td>
		</tr>
		<tr>
			<td><span class="desc">Tell us what Lifestyles you are expert in.</span></td>
			<td><span class="desc"></span>We match you to Luxury buyers looking for homes with those lifestyles.</td>
			<td><span class="desc"></span>You represent buyers on homes that are a minimum of $800,000.</td>						
		</tr>
	</tbody>
</table>
<table style="width: 100%">
	<tbody>
		<tr>
			<td>
				<div>
					<span id="reserveNow">GET IT NOW!</span>
					<a href="%link_back%" style="display: block;">Reserve Spot</a>
				</div>
			</td>
			<td style="width:70%; float:right;">
				<div>
					<span id="adopter">Early Adopter Price</span><span id="price">&nbsp;$99<span><span id="perMonth" >/month</span>
					<span style="display: block;">Very Limited spots available, so act now to reserve your place in line.</span>
					<span style="display: block;">You keep all your commissions too!</span>
				</div>
			</td>
		</tr>
	</tbody>
</table>