<table>
	<tbody>
		<tr>
			<td style="font-size:1.5em">Hello %first_name% %last_name%,</td>
		</tr>
		<tr>
			<td style="display:block;margin-top:-2px;font-size:1.1em">You have %listing_count% currently active with us</td>
		</tr>
		<tr>
			<td>
				<div id="header">
					<span id="line1" style="display: block; color: #2281c3; margin-top: 12px; font-style: italic; letter-spacing: 2px;">BECOME A LUXURY LIFESTYLED AGENT</span>
					<span id="line2" style="display: block; color: #2281c3; font-style: italic; font-style: italic; margin-top: 6px; letter-spacing: 1px;">Act Now, Exclusively Available to only 3 Agents per LifeStyle</span>
					<span id="line3" style="display: block; margin-top: 2px; font-weight: 600;">Dominate Your Areas of Expertise by Being an Exclusive Agent in Your Area</span>
				</div>
			</td>
		</tr>
		<tr style="display: block; margin-top: 10px; background: url(%img_src%) no-repeat; background-position: 0 -25px; width: 100%; height: auto; margin-bottom: 20px;background-size: 100% 100%;">
			<td style="width: 33.33%; padding: 0; vertical-align: top;">
				<div>
					<img src="%img_src1%" style="display: block; margin: 0 auto; width: 200px; margin-top: 35px;">
					<div style="width: 85%; text-align: left; margin: 0 auto; display: block; margin-top: -10px; color: #3b96ef;">
						<span style="text-align: right;font-size: 4.5em;font-weight: 400;color: #3b96ef;display: inline-block;height: 60px;margin-top: 10px;width: 15%;">1</span>
						<span style="color: #3b96ef;font-style: italic;text-transform: uppercase;font-weight: 400;text-align: left;line-height: 1.2em;font-size: 1.25em;display: inline-block;letter-spacing: 1px;width: 83%;margin-left: 2%;">STAND OUT FROM YOUR PEERS!</span>
						<span style="color: #444;font-weight: 600;font-size: 1.2em;margin: 0 auto;margin-top: -8px;display: block;position: relative;letter-spacing: 1px;line-height: 1.2em;width: 95%;">
							Tell us what Lifestyles you are an expert in.
						</span>
					</div>
				</div>
			</td>
			<td style="width: 33.33%; padding: 0; vertical-align: top;">
				<div>
					<img src="%img_src2%" style="display: block; margin: 0 auto; width: 200px; margin-top: 35px;">
					<div style="width: 85%; text-align: left; margin: 0 auto; display: block; margin-top: -10px; color: #3b96ef;">
						<span style="text-align: right;font-size: 4.5em;font-weight: 400;color: #3b96ef;display: inline-block;height: 60px;margin-top: 10px;width: 15%;">2</span>
						<span style="color: #3b96ef;font-style: italic;text-transform: uppercase;font-weight: 400;text-align: left;line-height: 1.2em;font-size: 1.25em;display: inline-block;letter-spacing: 1px;width: 83%;margin-left: 2%;">WORK WITH YOUR DREAM CLIENTS</span>
						<span style="color: #444;font-weight: 600;font-size: 1.2em;margin: 0 auto;margin-top: -8px;display: block;position: relative;letter-spacing: 1px;line-height: 1.2em;width: 95%;">We match you to Luxury buyers looking for homes with those lifestyles.</span>
					</div>
				</div>
			</td>
			<td style="width: 33.33%; padding: 0; vertical-align: top;">
				<div>
					<img src="%img_src3%" style="display: block; margin: 0 auto; width: 200px; margin-top: 35px;">
					<div style="width: 85%; text-align: left; margin: 0 auto; display: block; margin-top: -10px; color: #3b96ef;">
						<span style="text-align: right;font-size: 4.5em;font-weight: 400;color: #3b96ef;display: inline-block;height: 60px;margin-top: 10px;width: 15%;">3</span>
						<span style="color: #3b96ef;font-style: italic;text-transform: uppercase;font-weight: 400;text-align: left;line-height: 1.2em;font-size: 1.25em;display: inline-block;letter-spacing: 1px;width: 83%;margin-left: 2%;">CLOSE BIGGER TRANSACTIONS</span>
						<span style="color: #444;font-weight: 600;font-size: 1.2em;margin: 0 auto;margin-top: -8px;display: block;position: relative;letter-spacing: 1px;line-height: 1.2em;width: 95%;">You represent buyers on homes that are a minimum of $800,000.</span>
					</div>
				</div>
			</td>
		</tr>
	</tbody>
</table>
<table style="width: 100%">
	<tbody>
		<tr>
			<td style="width: 25%">
				<div>
					<span style="color: #3b96ef; font-size: 3em; margin-left: 28%;">GET IT NOW!</span>
					<a href="%link_back%" style="margin-top: 5px;border: 1px;background-color: #18a3d7;-moz-border-radius: 4px;-webkit-border-radius: 4px;border-radius: 4px;color: white;cursor: pointer;font-family: 'Open Sans',sans-serif;letter-spacing: .1em;text-decoration: none;text-transform: uppercase;-moz-transition: all .25s ease-in-out;-webkit-transition: all .25s ease-in-out;-o-transition: all .25s ease-in-out;transition: all .25s ease-in-out;padding: .75em 2.25em;font-size: 1.25em;display: inline-block;margin-left: 29%;">Reserve Spot</a>
				</div>
			</td>
			<td style="width:70%; float:left; margin-top: -10px;">
				<div>
					<span style="font-weight: 600; font-size: 1.4em;">Early Adopter Price</span>
					<span style="margin-left: 20px;font-size: 2em;color: #db9455;font-weight: 600;">&nbsp;$99</span><span style="color: #db9455;margin-left: 5px;font-size: 1.2em;" >/ Month</span>
					<span style="display: block;margin-top: 15px;font-weight: 600;font-size: 1.2em;">Very Limited spots available, so act now to reserve your place in line.</span>
					<span style="display: block;font-weight: 600;font-size: 1.2em;">You keep all your commissions too!</span>
				</div>
			</td>
		</tr>
	</tbody>
</table>