<table>
	<tbody>
		<tr>
			<td>Hello %first_name% %last_name%,</td>
		</tr>
		<tr>
			<td>Your reservation for %product% was successful!</td>
		</tr>
		<tr %display_lifestyle% >
			<td>
				<table>
					<tbody>
						<tr>
							<td>We have reserved your place in line for %location% as the lifestyle expert for:</td>
						</tr>
						<tr>
							<td>%life_styles%</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr>
			<td>
				<div>Expect a call from us soon to verify your lifestyle expertise, but in the meantime you should make sure to take advantage of all your free account features:<br/><br/>1. Build your profile with an eye-grabbing picture, dialed in description, your specialties, and more.<br/>2. Connect with any of your listings we may have already through our Listhub datafeed<br/>3. Add your new listings that are $800k+ with up to 40 HD images with individual descriptions, the ability to tag your listing to optimize it for our search engine, and more.<br/><br/>Log into your account <a href="%url%";>here</a>
				</div>
			</td>
		</tr>
	</tbody>
</table>