<table>
	<tbody>
		<tr>
			<td>Hello %first_name%,</td>
		</tr>
		<tr>
			<td><p>Lifestyledlistings.com wants you to <strong>capture leads and receive referral fees</strong> by using the PORTAL feature of our website. This user friendly tool allows you to <strong>attract and manage luxury buyers</strong>. Once a buyer enters the site through your PORTAL <strong>they will remain tied to you*.</strong>  The benefit for you is you get a highly developed, luxury lifestyle site that captures leads whom will remain with you <strong>whether you refer them out or close an escrow.</strong><br/><br/> Share your link through your social medias, email contacts, advertisements, add it to your business cards and email signatures. Spread the word and <strong>keep your business growing faster than ever!</strong>  
			</p></td>
		</tr>
		<tr>
			<td><p>We are a new partner at Listhub and we wanted to introduce ourselves and share with you the groundbreaking technology we are putting to work for your listing(s). As a listing agent with a qualifying property, you can market your listing to the highest quality standards using your full size HD images, and optimize your listing for our search engine.</p></td>
		</tr>
		<tr>
			<td><p>We developed our search process around people's lifestyles, making it easy to find amazing properties that fit their unique lifestyle preferences.  Through our portal, you can be seen in every listing across the nation when one of your clients views a listing they like. Get more referrals by spreading your portal link via your social media and friends.</p>
			</td>
		</tr>
		<tr>
			<td>
				<p><span>Regulary $39/month.  Click <a href="%link_back%" >here</a> to get it at a special price of $%price% today!</span></p>
			</td>
		</tr>
	</tbody>
</table>