<table>
	<tbody>
		<tr>
			<td>Hello %first_name%,</td>
		</tr>
		<tr>
			<td><p>We at LifeStyled&#8482; Listings really want your listing to stand out and impress the buyers. Listings with HD images, accurate and detailed description and tags are noticed.  Please update the following listing(s) with items we feel that could be improved upon.</p>%optional_message%</td>
		</tr>
		<tr>
			<table>
				<tbody>
				%improvements%
				</tbody>
			</table>
		</tr>
		<tr>
			<td>
				%optional_message2%
			</td>
		</tr>
		<tr>
			<td>
				%optional_message3%
			</td>
		</tr>
		<tr>
			<td>
				Please click <a href="%link_back3%" >here</a> to contact us.<p>Sincerely,</p><p>LifeStyled&#8482; Listings</p>
			</td>
		</tr>
	</tbody>
</table>